[2018-12-28 16:42] FezVrasta opened #3 "[FEAT] Add input switch commands"
**Is your feature request related to a problem? Please describe.**
I'd like to have a way to switch between HDMI inputs

**Describe the solution you'd like**
I'd be surprised if such API was not available, but I don't have enough experience to tell.

[2018-12-28 16:57] eslavnov commented on #3
The method that used to work in old API does not work anymore and the Philips mobile app does not switch inputs either, so I am 99% sure it's impossible with the current API.

As a workaround, you can try this small script to switch sources for Android TVs: https://github.com/eslavnov/android-tv-remote

[2018-12-28 18:11] FezVrasta commented on #3
Great thanks!

[2018-12-28 18:11] #3 closed

[2018-12-30 10:31] eslavnov opened #4 "[FEAT] Support non-Android models"
**Is your feature request related to a problem? Please describe.**
The tool does not support non-Android Philips TVs.

**Describe the solution you'd like**
It seems that non-Android Philips TVs use a slightly different API:
  * Pairing does not need a PIN - **confirmed**
  * Endpoints and requests work somewhat differently - **testing in progress**
  * API version seems to be 6.1 as opposed to 6.2

[2018-12-30 17:41] eslavnov commented on #4
[Here](https://forum.iobroker.net/viewtopic.php?f=36&t=9299&start=60#p119728) is an example of API 6.1 with `"pairing_type": "digest_auth_pairing"`, so it seems that a minor API version does not indicate Android presence as I initially thought...

[2018-12-30 20:01] #4 closed

[2019-01-15 18:19] jdschuitemaker opened #5 "[BUG] return print('Error', r.json())"
**Describe the bug**
I am seeing the error below when I try to run a pylips command

`  File "pylips.py", line 48
    return print('Error', r.json())`

I notice that that in line 44 there is a request to an ip address (172.168.201.11) that is not responding. Shouldn't this be the ip address of your TV instead?

**To Reproduce**
Steps to reproduce the behavior:
run the following command:
`python py

[2019-01-15 18:33] jdschuitemaker commented on #5
It seems that the following command is not supported in Python (?). I am using version 2.7.13

`return print("some text")`

After removing the "return" from that line, it starts working.

[2019-01-15 18:42] #5 closed

[2019-01-15 18:44] eslavnov commented on #5
Fixed, thank you!

You should be using Python 3 as stated in the "Prerequisites" section in the readme.

[2019-03-07 11:40] Auto-m8r opened #8 "Help Launch Netflix"
Hi eslavnov,

I am trying to use your code to include in my home automation.

I have all the basic commands working, however, I can't seem to follow your instruction for launching apps.

In particular, I am trying Netflix to start with. Your example code for YouTube works perfectly, however, I can't seem to replicate it when I substitute the package and class name for Netflix that I retrieved usin

[2019-03-19 16:37] eslavnov commented on #8
Hi @Auto-m8r ,

Sorry for the late reply - I've only just noticed this issue.

You can launch Netflix with the following command:
`--command post --path activities/launch --body {"label":"Netflix","intent":{"component":{"packageName":"com.netflix.ninja","className":"com.netflix.ninja.MainActivity"},"action":"Intent { act=android.intent.action.MAIN cat=[android.intent.category.LAUNCHER] flg=0x10000

[2019-03-28 13:09] #8 closed

[2019-04-08 11:08] mtzro2003 opened #9 "[FEAT] Available for testing"
First, I'd like to thank you for this! Beautiful! :+1:

I have a 49PUS8303 and I'm available for testing any new feature :smile:
Looking forward to MQTT integration also - definitely big progress for home automation...

[2019-04-09 06:42] eslavnov commented on #9
Hey @mtzro2003, thank you for your kind words! I was not sure if anybody was actually using this script, so I haven't really worked on Pylips recently... (since it already solves my use cases as it is)

So yeah, haven't really realized that people are waiting for updates, will try to do something about MQTT support in the coming week or two... I have a working prototype, just need to polish it a b

[2019-04-09 11:17] gb160 commented on #9
Hi, forgive my ignorance but will MQTT support have any bearing on input selection (hdmi) or lack of?

[2019-04-09 11:21] eslavnov commented on #9
@gb160, no, the input selection is not possible with the API - there is nothing I can do as even the official app does not have this functionality. You can do it with ADB, although it is not super reliable in my experience (there is a link somewhere in the beginning of the Readme).

[2019-04-09 11:24] gb160 commented on #9
@eslavnov Thats a shame as unfortunately my TV is not Android, its just Linux.

Ive managed to achieve channel switching via CEC commands, but its messy as hell...its a real shame the API has this function missing.
Cheers for the reply anyway.

[2019-04-21 19:11] eslavnov commented on #9
@mtzro2003, I've pushed a new version with some new commands and MQTT support - would you mind giving it a try? It is basically rewritten from scratch, so I hope I did not break anything, lol

[2019-04-21 19:18] mtzro2003 commented on #9
First thing tomorrow morning when I arrive @office. :D
Gonna report back!

On Sun, Apr 21, 2019, 22:11 Evgeny Slavnov <notifications@github.com> wrote:

[2019-04-25 04:56] mtzro2003 commented on #9
Sorry for not being able to report sooner...
Here's what I did so far after upgrading.
As I used pylips from command line with user and password, I put those in `settings.ini` and tried to run pylips - TV was OFF:
[code]
Question: shouldn't it try to ping first and THEN try to connect to API?

Second, TV ON:
[code]
On line 72, I believe it should be `if self.check_if_paired() is False`
I added `ap

[2019-04-25 05:45] mtzro2003 commented on #9
I turned OFF the TV (standby actually), by remote, and pylips reports that it's ON. Here's the JSON that is posted to the MQTT topic:
[code]
Getting the power state from command line reply:
[code]
Also, when TV is in standby pylips continues to interrogate the API, querying ambilight config, acivities and audio level.
Maybe, when it detects that the TV is in standby or OFF, it should query only th

[2019-04-25 06:36] eslavnov commented on #9
Hey @mtzro2003 , thank you for your input - this is extremely useful!

Well yes, but actually no :) PING sometimes takes quite a lot of time to complete, so I am using it purely as a safety net to help me debugging possible problems. So the logic is "Try the endpoints => if no response, then try to ping => let user know what has happened (e.g., if TV is responding to PING, but not the endpoints, t

[2019-04-25 06:51] mtzro2003 commented on #9
Here's how my TV, Philips 49PUS8303, behaves when you turn it "OFF" bye remote - OFF is actually a standby, something like when you turn off the screen on an Android phone or tablet:
    when I press the OFF button, the screen (of course) turns off, but the TV continues to respond to ping and to API interrogations.
   after some time (something like 5 minutes), the TV stops responding to ping and

[2019-04-25 07:07] eslavnov commented on #9
Got it, thanks! Mine behaves the same with the exception that my "Standby" mode lasts for 5-10 seconds, then it becomes "OFF" and the API stops responding, so I don't really implement a proper "Standby" mode. That's super-easy to fix, will do to.

Thank you again for your help, it's extremely hard to catch all the edge cases with just one TV model...

[2019-04-25 08:55] eslavnov commented on #9
@mtzro2003 Quick question:

So I've noticed that in the first scenario (where you had specified apiv 6) the port is 1925 in the config, that's why it's failing. In the second scenario (with blank apiv) the port is being overriden by apiv discovery, that's why it works.

So the question is: did you manually specify port 1925 in config (then it is working as intended) or was port 1925 added at some

[2019-04-25 09:01] mtzro2003 commented on #9
Damn!
Indeed, there is a typo in `settings.ini`... My bad! I put the port
manually and it was the wrong one...
The port should be 1926.

On Thu, Apr 25, 2019 at 11:55 AM Evgeny Slavnov <notifications@github.com>
wrote:

[2019-04-25 09:03] eslavnov commented on #9
Nice, one less bug to fix! :) Thanks for a quick response, appreciate it!

[2019-04-25 16:26] eslavnov commented on #9
I've pushed an update, check it out when you have time! Thanks!

[2019-04-27 10:28] mtzro2003 commented on #9
Well, it's running smoothly for 1 day -  no issues so far.
Didn't yet had time to integrate it with openHAB - just 2-3 status items: powerstate, volume and such.
I'll be out of town for the next week so, when I'll get back, I'll dig into it some more.
Wonderful job, @eslavnov, thousand thanks!

[2019-04-27 12:53] eslavnov commented on #9
Good to hear! Thank you again for your help with the testing!

[2019-04-27 16:11] mtzro2003 commented on #9
In the mean time...
How would I use MQTT to retrieve the ambilight brightness for example...
From what I understand, I should post to `topic_pylips` (in my case `pylips/Livingroom_TV/command`) a JSON like:
[code]
where `2131230769` is the menu entry for ambilight brightness.
But how do I get the return value (JSON) in such a use case?

Also, it looks like I can't get it to work from command line,

[2019-04-28 14:09] eslavnov commented on #9
Hey, so there was a small bug that affected some of the POST requests, I've just pushed a fix and updated README with better examples (see MQTT section), let me know if this helps with your issue. I've also noticed that you are sending different `body` when using pylips vs curl, so this might also be the reason....

You can just subscribe to the MQTT topics from any client and see what's being pub

[2019-04-28 20:05] mtzro2003 commented on #9
Yes, now it's working - same command as above:
[code]

What is different? I don't see any difference between them... But nevermind, now `pylips` is working :+1:

Moving forward and trying one of your examples: to change brightness through MQTT.
Running
[code]
I saw somewhere on `pylips`' output a `Please provide a 'path' argument` error.
Taking a look at the code I noticed the following [lines](ht

[2019-04-29 07:50] eslavnov commented on #9
Sorry, I've misread your commands, they are indeed the same!

Yep, I am an idiot :) Thanks for noticing! I really need to research how to write tests in Python...

Hmm, that's strange - it works for me, I've just tested it. Is the message actually getting published? (use `mosquitto_sub` to check your topic).

Ah, I see what you mean, but I am not sure how this can be implemented. Since you are jus

[2019-04-29 18:25] mtzro2003 commented on #9
all ears...

One idea would be to design some configurable (by user) `status` message...
Something like you have in `available_commands.json` where someone can add
at any time his own commands.
Could be interesting...
As I'm out of town for the next week, I'll have time to think about it and
maybe come up with a proposal. :smile:
If not feasible, then the `pylips` in command line mode is the only

[2019-04-30 09:24] popy2k14 opened #16 "[FEAT] Switch TV On (WOL)?"
First, thanks for this beautiful python script!
Back half a year i was struggling to control my new "65PUS8102" (android tv) from windows and eventghost. This was solved by an modified older philips script which was no so mighty as this :-)
Currently did'nt tried it, but it looks very promissing and i will try it soon.

So here is my question/feature request:
Back half a year i have solved it with

[2019-04-30 17:05] eslavnov commented on #16
Hi! Thank you for your kind words!

I was actually waiting for somebody to bring up WoL support sooner or later... I've struggled A LOT with trying to turn the TV on:
1) The API indeed stops responding after the TV has been off for some time. I've also tried various deep sleep/eco options in the TV, but still no luck.
2) HDMI-CEC works with something like a Raspberry Pi, but I've had mixed experie

[2019-04-30 20:23] popy2k14 commented on #16
Thank you @eslavnov to get in touch with me regarding this feature request.

I now have done several tests with WoWLAN + JS API and got an reliable way to wake my 65PUS8102!
Have tested this just on CLI and wrote an bash script which should do the job in all power states of the tv.

My Setup and needed settings:
- my tv has two network connections (wired & wifi) with different IP's (sure :-) )
- W

[2019-05-01 18:14] popy2k14 commented on #16
Sadly, it does'nt work reliable. It looked good at first tries, but now i am back with my good old IR blaster :-)

[2019-05-01 18:14] #16 closed

[2019-05-01 18:21] popy2k14 opened #17 "launch_app (Netflix) does'nt work"
I am trying to start netflix, youtube, kodi with pylips.
Sadly without luck.
Your examples doesnt also work for me.
I have tried to get the needed informations from this endpoint https://github.com/eslavnov/pylips/wiki/Applications-(GET)
but without luck on using it.

My TV has android pie on it, maybe thats the reason?

Here is the output of my applications:

`
{"version":2,"applications":[{"labe

[2019-05-04 10:27] popy2k14 commented on #17
@eslavnov Can you please guide me in the right direcion?

Thanks a lot

[2019-05-04 16:59] QSKONE opened #18 "[BUG] It is Philips 49PUS7150 (2015) supported?"
Hi ,
It is  supported Philips 49PUS7150 (late 2015) Android TV 5.1?
Because python not running.
[code]

[2019-05-04 17:58] eslavnov commented on #18
Try running it with `python3`

[2019-05-05 08:20] eslavnov commented on #17
Hey @popy2k14, there seems indeed to be something wrong with the `launch_app`, I'll take a look today. Thanks for reporting this issue!

[2019-05-05 08:25] #18 closed

[2019-05-05 08:53] popy2k14 commented on #17
@eslavnov thx for confirming, take your time.
I am here to test 🙂

Thx

[2019-05-05 09:09] eslavnov commented on #17
@popy2k14 I've just pushed a fixed version, it works fine for me on Pie. Can you give it a try? Thanks!

[2019-05-05 09:50] QSKONE commented on #18
Hi , I must detete mqtt line 15 and them script works. Thanks you very much.
[code]

[2019-05-05 10:21] eslavnov commented on #18
@QSKONE run `pip3 install -r requirements.txt` then this line will work.

On some systems `pip` and `python` link to Python 3, but on others (such as yours) they link to Python 2, so you have to use `pip3` and `python3` instead.

[2019-05-05 10:23] eslavnov commented on #9
I'll close this issue for now, please create a separate one with your proposal when you come up with one. Thanks!

[2019-05-05 10:24] #9 closed

[2019-05-05 13:15] popy2k14 commented on #17
@eslavnov Thanks for the fast fix. All is working as expected now with new version.
Issue can be closed.
Thank you

[2019-05-05 13:15] #17 closed

[2019-05-24 11:56] Flavien06 opened #23 "[FEAT] Screen off but keep audio"
On my philips I have an option to turn off the screen but keep the sound.
Used with audio applications like chromecast or spotify ...
Can this command be added? I did not find it in the api joint sapce: '(

[2019-05-25 20:01] eslavnov commented on #23
Hey, there is indeed such an option, it is controlled by Nodeid 2131230820:
[code]

The problem is that this node is missing the "data" key which is usually a True/False toggle that you can change. Since this key is missing and the mobile app also does not have this functionality, I haven't yet found a way to control it. So I would not count on it - at least I am out of ideas...

[2019-05-27 16:15] #23 closed

[2019-06-05 16:03] lucasvdh opened #24 "Determining TV port"
Hi,

I've been using your wiki as a reference for creating an app that allows a [Homey](https://www.athom.com/en/homey/) to control Philips TV's. It's been a great help and I might be able to shed some light on a few more features, but that's not what this is about.

In your readme you state that the main difference between regular Philips TV's and Philips Android TV's is the different port which

[2019-06-05 22:23] Mic-M opened #25 "Launching Apps - adding to documentation"
Many thanks for your work! I am currently using it for the IOT system ioBroker since there is a plugin which needs some enhancements and I guess your Python code is awesome and should be adopted.
See https://forum.iobroker.net/topic/8791/aufruf-philips-tv-v0-1-0-testen (in German).

I would wish to add some more examples for launching apps to the documentation. Finally, all does follow the same sy

[2019-06-07 09:08] eslavnov commented on #24
Hey @lucasvdh,

Glad to hear that the reference is useful for you!

As far as your question goes: I am extremely surprised to hear about Android TVs using port 1925 - I've never encountered such models! Would you mind sharing the response from the `/6/system` endpoint of this particular TV? I will then compare it with the responses from other TVs I've collected and maybe I'll see some difference.

[2019-06-07 09:10] eslavnov commented on #25
Thanks, man! I will add these examples next time I push an update!

[2019-06-07 09:10] #25 closed

[2019-06-07 15:00] eslavnov commented on #24
Yep, I have the same behavior with my TV. My theory was that old (non-Android) API was built on port 1925 (legacy from old jointspace API), and then at some point they've added support for Android version on port 1926 (probably so the API could support both versions without any breaking changes). That's also the reason why `/6/system` and `/6/notifychange` are accessible via the 1925 port both wit

[2019-06-09 15:04] timbru31 opened #26 "[FEAT] Allow self signed SSL certificates"
**Is your feature request related to a problem? Please describe.**
While mqtt over TLS is supported, it's missing the possibility to configure a custom SSL/TLS certificate.

**Describe the solution you'd like**
I'd like to have a config option where I can configure my broker SSL cert.

**Describe alternatives you've considered**
n/a

**Additional context**
paho-mqtt supports these options in the `

[2019-06-09 15:51] eslavnov commented on #26
Thanks, that's a good idea! I will add it in the next couple of days.

[2019-06-09 16:03] timbru31 commented on #26
Great - thanks a lot. Awesome project btw 🎉

[2019-06-10 13:53] lucasvdh commented on #24
Thanks for answering my questions! I've made a little bit of progress since I posted my question.

I think I might have been mistaken about the Android TV listening only on port 1925. I've managed to debug the issue a bit more and have reached the conclusion that the confirm pair request call is most likely the issue. So your theory holds up.
The reason I though port 1926 wasn't being used on that

[2019-06-10 19:47] eslavnov commented on #24
Good to hear that my theory seems to hold up :)

I had the same problem with digest in node.js: for some reason none of the various libs I've tried worked for me. You can print the request headers in python (don't remember exactly how, but it's something trivial like 'request.headers') and then try to reverse-engineer them (since they are working). This could help: https://tools.ietf.org/html/rfc2

[2019-06-11 07:44] lucasvdh commented on #24
Yes, no problem. Thanks for your help so far!

If you ever get in touch with the person responsible for the Jointspace api, let me know. It would be great if they just shared their api doc :smirk:.

[2019-06-11 14:27] timbru31 opened #27 "[BUG] Exits immediately although mqtt is configured"
**Describe the bug**
Pylips does not listen to MQTT packages because it exits right after the user invoked the script.

**To Reproduce**
Configure MQTT support:
[code]

1. Launch pylips with `python3.7 pylips.py`
2. Process starts and immediately exits again, no listening for mqtt is happening.

**Expected behavior**
Have pylips running in the foreground (or even better background) listening to mq

[2019-06-11 14:40] eslavnov commented on #27
Hey @timbru31, that's weird, I am literally running it right now with no issues... Could you please share the full settings.ini you are using? (replace the sensitive data with something like XXXX) It could be that there is a flaw in the way I handle the settings...

[2019-06-11 14:43] timbru31 commented on #27
Sure:

[code]

I'm not that good with Python, but from my understanding it seems that the mqtt loop is not respected, so the script just finished. Like that a while(true) loop is missing.

[2019-06-11 14:48] eslavnov commented on #27
Thanks, man! I'll investigate and will report back later today

[2019-06-11 19:30] #26 closed

[2019-06-11 19:38] eslavnov commented on #27
Thanks for reporting, I think I've fixed it. I've indeed missed an edge case where you run `mqtt_listen = True`
with `mqtt_update = False`, since the while loop was present only in the `mqtt_update` :) Silly mistake, but easy to fix, thanks again for your help!

I've pushed a new version with a fix + you can now also specify the path to your certificate in the settings.ini. Let me know if it works

[2019-06-12 12:16] timbru31 commented on #27
Works, thanks for the quick fix!

[2019-06-12 17:10] timbru31 commented on #27
I have to revert my comment. While it does work, it goes to 100% CPU now. Could this be due to the
[code]

?

[2019-06-12 18:20] eslavnov commented on #27
Haha, sorry about that - I _knew_ that it was a bad idea...

I've made a proper fix and tested it, seems to be working fine on my machine. I've just pushed it, thanks again for the feedback!

[2019-06-18 15:04] eslavnov commented on #27
Closing for now, feel free to reopen if the issue is not solved.

[2019-06-18 15:04] #27 closed

[2019-07-04 12:02] lucasvdh commented on #24
@eslavnov I think this issue should be reopened because I've found a case in which an Android TV with Jointspace v6.2.0 **only** listens on port `1925`. So sadly it seems that your theory doesn't hold up.

Did you manage to get in touch with the person at Philips responsible for the Jointspace api? If you did or are still trying to, could you maybe also ask the following question:

"Are there more

[2019-07-04 13:29] eslavnov commented on #24
Hey, thanks for the info! Do you know if this TV also uses port 1925 for pairing and other endpoints? Or is this purely about the 'system' endpoint? If it's only the 'system' endpoint, then I might have an idea...

I've contacted several people in both Philips and TP-Vision and even got some replies, but ultimately I was unable to reach the ones responsible for the API. I will probably try again i

[2019-07-04 15:01] lucasvdh commented on #24
Shame that you couldn't get in touch with a person responsible for the API, you'd expect there'd be someone to talk to with a technology that's in every Philips TV.

Regarding your question:
I'm not sure if its only the `system` endpoint that only listens on port `1925`.

I wrote a test script which the owner of this TV used to check some stuff for me. As far as I can see, when using port 1925 the

[2019-07-05 14:48] lucasvdh commented on #24
Got some feedback regarding the `49pus7101/12` TV.

The `pair/request` endpoint for starting the pairing process is accessible, but only on port `1926` with https. A little bit of progress, so yay, I guess.

However when trying to confirm the pair by posting a signed request to `pair/grant` on port `1926` with https, it immediately gets a "connection reset". I might try some different port/https v

[2019-07-05 14:49] eslavnov commented on #24
I think the best course of action would be to ask the person to install [Charles](https://www.charlesproxy.com/documentation/getting-started/) and then pair with the TV using the official Philips remote app while running Charles. Send me the logs from Charles and we'll know for sure what's going on and which ports/protocols/endpoints their TV uses.

(Charles is super-easy to use and they have a fr

[2019-07-05 14:55] eslavnov commented on #24
Thanks, that's actually great news meaning that all Android TVs use port 1926 for pairing, so my theory still holds up :) Weird that the system endpoint does not respond on 1926, but not a big deal since its available on both versions on 1925 and we can just look for ` "pairing_type": "digest_auth_pairing"` to check if it's the Android version.

[2019-07-05 15:36] lucasvdh commented on #24
Yeah, that would be the easiest. Though I think this might be a bit above the expertise level of the owner of the TV.

I think this issue can closed again, seeing as how we now have a concrete answer to determining what port should be used what what endpoint. If I manage to find out something else about the pairing process I'll post it here as well.

Cheers

[2019-07-05 15:36] #24 closed

[2019-07-05 16:04] lucasvdh opened #32 "[FEAT] Add textentry to documentation"
Some Android TVs appear to support text input via the Jointspace api.

I'm not a 100% sure about this but the system response seems to suggest it:
[code]
If you look at for example how the recordings feature is returned in the jsonfeatures object:
[code]
This references that the `recordings` feature has a `List` endpoint. And the `recordings` feature does indeed have a `/recordings/list` endpoint.

[2019-07-07 18:38] Mic-M commented on #16
Great discussion. Just sharing my solution/workaround:
I am using a Denon receiver, which is connected via HDMI with the Philips TV. My environment is [ioBroker](https://github.com/ioBroker/ioBroker) as smart home basis, and it has a plugin (they call plugins "adapters") to control the Denon receiver, [link](https://github.com/foxriver76/ioBroker.denon).
Implementation:
If you enter the setup menu

[2019-07-07 18:57] eslavnov commented on #16
Thanks, I actually own a denon receiver as well so I might give it a try someday!

[2019-07-07 19:25] popy2k14 commented on #16
@Mic-M thx for this "great" solution/workaround.
That sound so simple :-)
I also own a Denon receiver and will test it.

[2019-07-21 11:54] eslavnov commented on #32
Hey, I think that this endpoint might be used for search (I remember seeing something like that in the mobile app), but I don't have access to a TV right now to test. I'll take a look in a week or two and will report back.

[2019-07-23 11:39] pingloss opened #34 "[BUG]"
Hi,

Initial communication has completed and has populated settings.ini however attempting to issue a command fails returning back a message that ‘The request requires authentication’.

I’ve also tried issuing the command while also adding the user and pass variables but with the same response back.

python3 ./pylips.py --command volume
Sending GET request to https://192.168.1.71:1926/6/audio/volu

[2019-07-23 11:49] eslavnov commented on #34
Hi,
That's weird, could you please share with me your settings.ini so I can try to replicate it? I am on a beach right now with no technology whatsoever (sending this message by a postal pigeon), so I'll take a look at this issue next week once I am back. Thanks!

[2019-07-23 13:45] pingloss commented on #34
Hi there,

Here’s the contents of the settings.ini file

[DEFAULT]
verbose = True
mqtt_listen = False
mqtt_update = False
num_retries = 3
[DEFAULT]
update_interval = 3

[TV]
host = 192.168.1.71
port = 1926
apiv = 6
user = jvLMtCJZU1Vsvi3T
pass = 9b83ccb41173a44d8741d5e207ff19272bdefd5762fff11b41b1a259009b172a
protocol = https://

[MQTT]
host =
port =
user =
pass =
tls = False
cert_path =
topic_pyl

[2019-07-27 16:37] MartinTerp opened #35 "[BUG] MQTT never goes to "update" loop"
**Describe the bug**
When running in mqtt mode, the program never goes to the update loop, eventhough mqtt_update is set to true

**To Reproduce**
Steps to reproduce the behavior:
1. set mqtt_update = true
2. python ./pylips.py
3. "Started MQTT status updater" message never appears

**Expected behavior**
To update the mqtt broker and display verbose info regarding this

**Screenshots**

**Addition

[2019-07-27 16:48] eslavnov commented on #35
Hi, thanks for reporting this! Seems like I've (again) messed up the mqtt part... I've been using loop_start() before but it lead to some issues, that's why I've switched to loop_forever(). I thought I've tested it properly but I guess not...

I'll take a look at it next week and will fix it. Quick question: is mqtt_listen set to True or False in your config?

[2019-07-27 16:50] MartinTerp commented on #35
its set to True, i dont know that much about mqtt so did a bit of debugging to see where the code died :)
if i locally set it to loop_start it seems to work fine, for me, dont know what issues you had the last time :)

[2019-07-27 16:59] eslavnov commented on #35
Thanks, I think there is a flaw in the logic that handles the mqtt connection that affects some combinations of mqtt_update and mqtt_listen. The change to loop_forever() fixed one of those combinations, but seems like it broke the other one... Should be easy enough to fix and I'll make sure to properly test all combinations.

[2019-07-30 09:32] eslavnov commented on #34
Hey Simon,

I've just checked using the same settings and it works fine for me. The only thing that I've noticed is that you have `[DEFAULT]` specified twice for some reason in your settings.ini, but it should be there only once in the very beginning of the file. Maybe try replacing your settings.ini with the original one and try pairing again?

[2019-07-30 09:47] eslavnov commented on #32
Ok, so I've tested the search in the Phillips mobile app, however, it does not use this endpoint...

I'll try to investigate more, but for now I unfortunately have no clue where the `textentry` enpoint is used...

[2019-07-30 11:08] eslavnov commented on #35
Hey @MartinTerp,

Thank you again for the bug report, I think I've fixed it. Could you please pull the latest version and let me know if it works for you now?

[2019-08-01 18:37] MartinTerp commented on #35
Yes that seems to work :)

[2019-08-01 20:03] #35 closed

[2019-08-12 12:44] Darkensen commented on #34
Hello, I have the same problem.
Here my settings.ini :
[DEFAULT]
verbose = True
mqtt_listen = False
mqtt_update = False
num_retries = 3
update_interval = 3

[TV]
host = 192.168.1.66
port = 1926
apiv = 6
user = BqjadVW74Mfa43KR
pass = 67e05d9b3dbd09ba90dc3efe0223fb473842e6f052aac3593d73e2fe8aa46ad1
protocol = https://

[MQTT]
host =
port =
user =
pass =
tls = False
cert_path =
topic_pylips =
topic_

[2019-08-12 14:43] eslavnov commented on #34
@Darkensen Thank you for reporting this! I am a bit lost since I can not replicate this issue, so I will need your help troubleshooting it.

First of all, can you please try calling an endpoint with cURL using the username and password that the pylips generated for you? The general syntax is:
`curl -X GET --digest --insecure -u %username%:%password% https://%ip_address%:1926/6/%endpoint%`

(curl s

[2019-08-12 14:50] Darkensen commented on #34
Same

curl -X GET --digest --insecure -u Q1EoRgPF09zfKhnC:adf3d99f45cc1c247e201c1732681b5f6e677cb298d6c4df82dfefb44505b00 https://192.168.1.66:1926/6/powerstate
<html>
<head>
   <title>Status page</title>
</head>
<body style="font-family: sans-serif;">
<p style="font-size: 1.2em;font-weight: bold;margin: 1em 0px;">Unauthorized</p>
<p>The request requires user authentication</p>
<p>You can get tech

[2019-08-12 15:03] eslavnov commented on #34
Thanks for the quick reply! Looks like the credentials are wrong for some reason... I remember indeed changing the pairing part a bit some time ago and, perhaps, I broke something in the process... Still weird, because I've repaired my TV with the new versions and they work fine for me. I guess, we are hitting some kind of an edge case...

You've mentioned that v0.4 work for you - did you test it

[2019-08-12 15:09] Darkensen commented on #34
Just test now, still works

[2019-08-12 21:01] eslavnov commented on #34
Does v0.4 work with the new credentials or only with the ones you get by pairing using v0.4?

[2019-08-13 07:03] Darkensen commented on #34
Hello, The 0.4 work with both

[2019-08-13 07:28] eslavnov commented on #34
Wow, that does not make any sense... Just to make sure I understand you correctly:
1) you pair using the latest version
2) using these credentials you get 'unauthorized' error in pylips (latest version) and curl
3) using these credentials in v0.4 you get a correct response

Or did I misunderstood something?

[2019-08-13 08:13] Darkensen commented on #34
I find my mistake, I don't know why but the password I used was shrinked when I do the copy/past to the settings file.
Everything works now ...
Sorry for your time ...

Regards

[2019-08-13 09:56] eslavnov commented on #34
No problem, glad to hear that it works!

[2019-08-13 09:56] #34 closed

[2019-09-05 22:17] busshi opened #37 "Timer set up"
Hello,

Nice job with the documentation and everything else. I’m trying to set up the timer. I can get info with :
"menuitems/settings/current -d {\"nodes\":[{\"nodeid\":2131230835}]}"

It returns :
"values":[{"value":{"Nodeid":2131230835,"Controllable":true,"Available":true,"string_id":"Arrêt programmé","data":{"value":0}}}],"version":0}

So I have the good nodeid for the timer and it is controll

[2019-09-11 09:34] eslavnov commented on #37
Hi!

I think that not all nodes with the `"Controllable":true` attribute can be actually controlled through the API - I remember having the same issue with some other endpoint... Your request seems correct to me, so probably it's not supported.

I'll check this endpoint with my TV in the coming days and will report back if it works for me.

[2019-09-26 18:25] GreenSnakeLinux opened #38 "[BUG] Android TV 32PFS6402 : SSL handshake time out"
Hello

I have a SSL handshake time out that occurs very often. The only way I found to bypass is to restart the Android OS of the TV, but after a while it appears again, here is the log:

https://192.168.1.27:1926/6/pair/request
Traceback (most recent call last):
  File "C:\Python35\lib\site-packages\urllib3\connectionpool.py", line 344, in _make_request
    self._validate_conn(conn)
  File "C:\Py

[2019-09-27 07:50] marcelser opened #39 "[BUG] pylips dies on 55OLED754/12 (apiversion 6.1.0) because http://x.x.x.x:1925/6/activities/current does not exist"
**Describe the bug**
The new Philips 55OLED754/12 reports as apiversion it's 6.1.0 but it does not support the /6/activites/current endpoint. This makes the use of pylips mostly impossible especially in MQTT mode which I wanted to use because it just dies because it tries to query activities as soon as the tv is in mode Powerstate "on"

**To Reproduce**
1.) configure mqtt settings in settings.ini

[2019-09-27 08:33] eslavnov commented on #39
Thanks for the report! Do you get any kind of an error message (you might have to specify 'verbose' as True in the settings)?

[2019-09-27 08:36] eslavnov commented on #38
Thank you for the report! Are you running pair request several times? You should run it only once to get the username and password. Spamming the 'pair' endpoint indeed results in SSL errors for some reason.

Or did I misunderstood your issue?

[2019-09-27 11:56] GreenSnakeLinux commented on #38
Yes you're right. After several TV reboot, I manage to pair.  But now when I send the 'Mute' command for example I have sometime this error message :
{"error": "Can not reach the API"}

Even if I reboot the TV this error come times to times, I need to wait some hours to get it working again. I don't know if it's my TV that is bugged, or the TV API are not stable.

[2019-09-28 09:09] eslavnov commented on #38
I've had the same issue with the pairing mechanism. As I've mentioned, running several 'pair' commands in a row breaks something in the API. Not sure if it's me doing something wrong or it's indeed an API problem.

How exactly did you reboot? What helps me is to pull the TV's plug for like 10 seconds - then the TV properly reboots and the API is working again (until you spam it with 'pair' request

[2019-09-28 09:55] GreenSnakeLinux commented on #38
I reboot using the android reboot mechanism, it's like unplug for 10s. I confirm it work again.
The thing i'm facing off now is if I spam the Mute command for example, i've got a 403 error: Cannot reach the api. The reboot will not fix this pb, i need to pair again or wait like 10mn, it's weird.

[2019-09-29 10:46] eslavnov commented on #32
Closing the issue for now since I don't have any more ideas to test. Will re-open when there is any new info/ideas available.

[2019-09-29 10:46] #32 closed

[2019-09-29 10:51] eslavnov commented on #39
Also, please attach the results of `https://ip-address:1926/6/system` (or `http://ip-address:1925/6/system` if the first does not work). Thanks!

[2019-09-29 22:28] marcelser commented on #39
The error is this one:
Sending GET request to http://192.168.10.78:1925/6/activities/current
Request sent!
<html><head><title>Not Found</title></head><body>Not Found</body></html>
Traceback (most recent call last):
  File "pylips.py.backup", line 453, in <module>
    pylips = Pylips(os.path.dirname(os.path.realpath(__file__))+"/settings.ini")
  File "pylips.py.backup", line 97, in __init__
    sel

[2019-09-30 16:09] eslavnov commented on #39
Thanks, this is very useful!

Did not know about the SAPHI OS (it flew completely under my radar), and it seems to behave slightly differently than Android/old non-Android TVs. That's why some endpoints like `activities` fail (it's for Android TVs) and the errors are not handled correctly (they are different from non-Android TVs).

Since I don't have such a TV to reverse-engineer it, the best I ca

[2019-09-30 16:15] eslavnov commented on #38
What happens with the power plug method? Software reboots didn't work for me either, only the power plug. I am 99% sure that the API is not running in Android based on my experience with it and lack of input sources switching (which is trivial from Android, so why does not the API support?).

[2019-09-30 20:00] GreenSnakeLinux commented on #38
Power plug seems the same than soft reboot.
If I don't spam it works. It seems that there is a mechanism in the api that prevent denial of service and ask for pairing again. When i use up, down, left, right in Netflix app i need to be careful to not be too  fast

[2019-10-23 10:53] CodySummers opened #40 "[BUG] Can't launch Netflix (Philips TV POS9002)"
**Describe the bug**
Might be a new user error, when I try the example code to launch netflix, amazon prime etc I can't.

This is the message I get back when using it.

Traceback (most recent call last):
  File "pylips.py", line 453, in <module>
    pylips = Pylips(os.path.dirname(os.path.realpath(__file__))+"/settings.ini")
  File "pylips.py", line 109, in __init__
    self.run_command(args.comma

[2019-10-24 09:10] eslavnov commented on #40
Hi, thanks for reporting this. Do other commands work for you (like volume or power off, for example)?

[2019-10-24 09:12] eslavnov commented on #38
Seems like it's an issue on the API side, there is nothing I can do, unfortunately.

[2019-10-24 09:12] #38 closed

[2019-10-24 09:13] eslavnov commented on #37
Closing since I was not able to make it work. Feel free to reopen if somebody figures out how to use it.

[2019-10-24 09:13] #37 closed

[2019-10-24 10:47] eslavnov commented on #40
Yeah, turning on after off is indeed a deep sleep issue.
Could you please locate line 265 in Pylips.py (body = json.loads(body)) and add `print(body)` before it? Then try to launch Amazon again and share the output here. Thanks!

[2019-10-24 11:15] CodySummers commented on #40
This is what I get with print added.

'{id:com.amazon.amazonvideo.livingroom,order:0,intent:{action:Intent{act=android.intent.action.MAIN cat=[android.intent.category.LAUNCHER] flg=0x10000000 pkg=com.amazon.amazonvideo.livingroom },component:{packageName:com.amazon.amazonvideo.livingroom,className:com.amazon.ignition.IgnitionActivity}},label:Prime Video}'
Traceback (most recent call last):
  File

[2019-10-24 17:22] domcross opened #41 "[BUG] pairing 55PUS7394/12 (2019) fails"
**Describe the bug**
Try to pair a Philips 55PUS7394-12 android-tv fails.

**To Reproduce**
Steps to reproduce the behavior:
1. edit settings.ini and set ´host = ip.of.my.tv´
2. using command ´python3 pylibs.py´as given in the readme

paring faills with
´´´
Checking API version and port...
Trying http://ip.of.my.tv:1925/6/system
{'nettvversion': '8.2.0', 'serialnumber_encrypted': 'FF/uIq2oG7QNf1+D

[2019-10-24 20:07] eslavnov commented on #41
Your TV does not seem to respond to the pairing request for some reason. Try unplugging the TV and plugging it back in, this sometimes helps with the API issues.

Also, does the mobile Philips remote app work for you?

[2019-10-25 12:53] domcross commented on #41
I did not install the Philipps remote app, but will try your suggestions and report back.

[2019-10-27 14:25] eslavnov commented on #40
Your body argument is not properly formatted (`id:com.amazon.amazonvideo.livingroom` instead of `"id":"com.amazon.amazonvideo.livingroom"`, and so on...). This works on my TV:

`python pylips.py --command launch_app --body '{"id":"com.amazon.amazonvideo.livingroom","order":0,"intent":{"action":"Intent{act=android.intent.action.MAIN cat=[android.intent.category.LAUNCHER] flg=0x10000000 pkg=com.amaz

[2019-10-27 14:31] #39 closed

[2019-10-27 19:56] CodySummers commented on #40
What I type in has the `"` the version without the speechmarks get printed when I add `print(body)` to line 265.

I copied and pasted your code snippet to double check and got the same error:

[code]

Might just be a slight API variation, thanks for your help.

[2019-11-08 15:13] b2un0 opened #44 "[FEAT] define ini file path"
**Is your feature request related to a problem? Please describe.**
i have two Philips Android TVs and want to monitor them from my Docker Container
https://github.com/b2un0/pylips/blob/master/Dockerfile

but i can't define a absolute path of the `settings.ini`, so i must mount them from outside.

**Describe the solution you'd like**
an new argument to define a path of the `settings.ini`

**Describ

[2019-11-08 15:22] b2un0 commented on #44
as an alternative, i would like an option to define mandatory options from ENV Vars:

[code]

but in this case, i have no idea how to define the mqtt broker wihtout mounting again the settings.ini from outside..

[2019-11-08 16:13] eslavnov commented on #44
Good suggestion, thanks! I'll add a config path argument some time this weekend!

[2019-11-08 16:13] #40 closed

[2019-11-08 16:14] eslavnov commented on #41
Closing for now, feel free to reopen if any additional info is available.

[2019-11-08 16:14] #41 closed

[2019-11-19 12:46] domcross commented on #41
Update the TVs Android software and successfully paired it with the iOS remote app, but the app doesn't do too much (ratings in the app store complain about missing/broken functionality with the latest app version).

After rebooting the TV now I get following:
[code]

When I open the URL `http://IP.OF.MY.TV:1925/6/system`in my browser the result is
[code]
The other URLs do not return anything.

[2019-11-19 12:51] domcross commented on #41
how can I reopen the issue #41

[2019-11-20 16:13] eslavnov commented on #44
Hey @b2un0,

Terribly sorry for the delay: I had to deal with some personal stuff and had zero time to work on Pylips. I will fix this issue by the end of this week.

Sorry again!

[2019-11-27 11:06] eslavnov commented on #44
Hey, @b2un0!

Better late than never: the new version should support custom config paths, use it like this:

`python pylips.py --config '/home/eslavnov/repos/Pylips/some_settings.ini'`

I've run some tests and it seems to be working fine, but it could be that I've missed something - please let me know if it works for you. Thanks!

[2019-11-28 09:34] HydrelioxGitHub opened #47 "[FEAT]List of supported models in wiki."
**Is your feature request related to a problem? Please describe.**
I plan to buy a Philips TV very soon (like today) with the Saphi OS. I would like to know if this library can handle this model.

**Describe the solution you'd like**
Generally, it could be great to have a list of all supported TV in the wiki for example. This list could be filled with the community that use this library.

**Additi

[2019-11-28 10:05] HydrelioxGitHub opened #48 "[FEAT]Make a pip package"
**Is your feature request related to a problem? Please describe.**
I use Home Assitant, and I would really like to add your work in this eco system. It will allow a lot of user to easily control the Ambilight light as a classic connected light and some other great feature.

**Describe the solution you'd like**
I have some basics skills in Python and I can work on the integration in Home Assistant

[2019-11-28 14:22] eslavnov commented on #48
Hey @HydrelioxGitHub,

If your goal is to have integration with Home Assistant, I can suggest this repo: https://github.com/nstrelow/ha_philips_android_tv

and for ambilight in particular this one:
https://github.com/jomwells/ambilights

When Pylips has just started it had some unique features (such as ambilight+hue control), but nowadays 99% (if not 100%) of Pylips features are supported by those

[2019-11-28 14:25] eslavnov commented on #47
Saphi OS is, unfortunately, not supported at this moment, see this link: https://github.com/eslavnov/pylips/issues/39#issuecomment-536634021

But if you buy it and you are willing to spend some time helping me to capture the traffic, I'm 90% sure I would be able to add support for Saphi OS.

Good idea regarding the list of supported models, thank you! I'll think of something...

[2019-11-29 09:14] #44 closed

[2019-11-29 09:17] b2un0 commented on #44
thank you, yes it works:

[code]
![2019-11-29 at 10 16](https://user-images.githubusercontent.com/2155498/69857995-5e4ec580-1291-11ea-9995-ae02903b584d.png)

[2019-11-29 11:02] eslavnov commented on #44
Glad to hear that, thanks!

[2019-11-30 11:37] lantheman89 opened #49 "[BUG]/[FEAT] Reuse SSL session to fix unresponsive API"
40PFT6550/12 stops responding to commands from pylips after a certain point. If the MQTT_update setting is on, it stops fairly quickly and on its own with no input necessary, but if it's disabled, it stops after a number of commands has been sent out and successfully received. The TV starts listening to commands again after it has been put on standby then woken up again.

As the official remote ap

[2019-11-30 13:25] eslavnov commented on #49
Hey @lantheman89, thanks for the info! Did not know about the 100 sessions (why wouldn't they close inactive sessions?!), but this actually explains a lot! I'll see what I can do about it!

[2019-11-30 13:26] #48 closed

[2019-11-30 19:27] lantheman89 commented on #49
Well, we are talking about TVs where the remote control stops working all of a sudden and the TV decides it doesn't want to start every once in a while, so the SSL thing isn't that much more odd or frustrating than anything else Philips did. 😊

Good luck!

[2019-12-10 16:32] eslavnov opened #50 "[BUG] Credentials not saved if pairing run outside Pylips folder"
A user [reports](https://mjdm.ru/forum/viewtopic.php?f=27&t=4012&start=80#p111984) that running Pylips pairing process outside of the Pylips folder on Windows results in the credentials not being saved in the config file.

**To-do:**
1. Reproduce the bug on Windows
2. See if Ubuntu is also affected
3. Fix it

[2019-12-11 19:12] domcross opened #51 "[BUG] pairing 55PUS7394/12 (2019) fails (part 2)"
(...follow up to #41 as I couldn't reopen the issue...)

I updated the TVs Android software and successfully paired it with the iOS remote app, but the app doesn't do too much (ratings in the app store complain about missing/broken functionality with the latest app version).

After rebooting the TV now I get following:
[code]

When I open the URL `http://IP.OF.MY.TV:1925/6/system` in my browser th

[2019-12-18 10:36] mebe1012 commented on #51
Hi, I'm maintaining the new philips tv binding for openHAB and stumbled over this issue as my users with 2019er models experience the same problem. It seems that something at the API changed for 2019er models, since the Philips TV Remote App also doesn't work anymore. Even though compared to @domcross they recieve an ERROR 500 if they try to access `http://IP.OF.MY.TV:1925/6/system`. Known models

[2019-12-20 14:14] neophob opened #52 "Remote power on TV"
We can control the TV, we can power off the TV but afaik no option today to power the TV on.

Goal here is to find out a way to power on the TV from the network. Here's my summary:
- when you power off the TV, the WLAN adapter is not reachable anymore after a certain gracetime
- sending a WOL package powers up the TV, however the main interfaces (port 1925 and 1926) are not open yet, here's whats

[2019-12-22 23:16] neophob commented on #52
Ok found a solution, I use `curl -v http://__IP__:8008/apps/ChromeCast -X POST` to power on the TV

[2019-12-23 15:50] eslavnov commented on #52
Hey @neophob, thank you for reporting your solution! Reliably turning the TV's power 'on' has been on my to-do list for quite some time!

I'll test your solution once I am back from my Christmas vacation and if everything is fine, I'll add a custom command to Pylips so that the other can also use it!

Thank you again!

[2019-12-23 15:54] eslavnov commented on #51
Hey guys,

Yep, it does indeed look like Philips has changed something in 2019 models, which is both frustrating and quite expected :)

The best bet would be to wait for the Philips TV Remote App to support these models - then I can easily capture the traffic and find what exactly has changed. Until this happens, there is not much I can do since I don't own a 2019 model and flying completely blind

[2019-12-23 20:44] neophob commented on #52
Hi @eslavnov

while the command turns on the TV it looks like the Philips API is not started (port 1925 and 1926) - at least on my TV.

Would like to know what other observe!

[2019-12-30 22:26] daen2424 opened #53 "[FEAT] Installation failed - Dependency pycrypto - Change in requirements.txt"
Installing requirements from "requirements.txt" was not possible.
The package "pycrypto" failed to install.
Installing Visual Studio C++ Build Tools does not change anything.

At long last i installed the package "pycryptodome":
$pip install pycryptodome
This package worked for me and the TV "Philips 65PUS6704/12" is working (Not fully tested yet).

[2019-12-31 00:02] neophob commented on #52
Ok I guess I found a reliable solution, there is an advanced config option with nodeid 2131230736:

[code]

update this value to ON:
[code]

now the TV should power on when chromecast is started. let me know if this works!

[2020-01-10 09:44] eslavnov commented on #53
Thanks for the report! Looks like indeed pycrypto has some issues on Windows, I'll test your suggestion and will update the requirements.txt if everything works!

[2020-01-10 13:24] eslavnov commented on #50
The bug affects Windows systems only, will be fixed in the next release.

[2020-01-12 14:15] #49 closed

[2020-01-12 14:15] #50 closed

[2020-01-12 14:16] eslavnov commented on #53
Fixed by #54

[2020-01-12 14:16] #53 closed

[2020-01-12 14:17] eslavnov commented on #52
Added `power_on` command based on @neophob approach, thank you! Works great so far for me!

[2020-01-12 19:39] SchmuFoo commented on #51
(jFYI for other users than the previous two who are already aware of the following, f.e. cause of https://github.com/lucasvdh/codes.lucasvdh.philips-jointspace/issues/6)

Cant agree on that cause I have a 2019 device and most of the time it is running ;) With most I mean:

Sometime both API Ports are not open any more, then also the official Philips Remote App is not working any more. Didnt found

[2020-01-12 19:40] SchmuFoo commented on #51
P.S.: When someone is knowing why the API is not online sometimes, I would realy appreciate more details ;)

[2020-01-13 09:41] eslavnov commented on #51
Hey @SchmuFoo, thanks for your input! Regarding the API stopping to respond sometimes: have you tried the latest version of Pylips (1.1.0, published yesterday)? It should help in some cases...

[2020-01-16 16:22] pire12 commented on #47
Which models have been tested so far?
Is the model Philips 43PUS7354 fully supported, also the recently added power on command?

[2020-01-16 22:37] SchmuFoo commented on #47
I can give you an answer in a few days cause I have an 2019 series 73x4/12.

At the moment I‘m using only the API Endpoints which don’t need authorization/pairing:

Ambilight On/Off
Ambilight+Hue Lounge On/Off

[2020-01-17 07:45] eslavnov commented on #47
A rule of thumb is: if the official Philips TV remote mobile app works with a given model, Pylips will work with it too.

[2020-01-17 08:09] pire12 commented on #47
What about the power on command?

[2020-01-17 10:11] eslavnov commented on #47
The power on command should work on all chromecast-enabled models, but since it's a new feature I have no user reports so far regarding it.

[2020-01-19 16:43] TheWizard92 opened #55 "[BUG] Power on won't work on 55PUS7304/12"
Hello.

In the last version, I see that there is a power_on command, which I was very happy to see implemented.. but it doesn't seem to work on my 55PUS7304/12.

I did multiple tests:
- before running allow_power_on
- after running allow_power_on
- with the TV in standby
- with the TV in deep sleep
- with the TV in deep sleep after sending WoL packet
Every time it's the same result, power_on comma

[2020-01-21 18:12] eslavnov commented on #55
Hey @TheWizard92, thanks for the feedback!

Sorry to hear that it does not work for you. Could you please change [this line](https://github.com/eslavnov/pylips/blob/732a7cd1f697365df000fab6799945d9ce05be05/pylips.py#L321) to the following:
[code]

After making the change, please run the command again and share the output from your terminal - let's see if you are getting any error messages or somet

[2020-01-21 18:47] TheWizard92 commented on #55
Hey,

I replaced the line with the three you posted and the result is this:
`<Response [404]>`

[2020-01-21 19:51] eslavnov commented on #55
That's really strange! Do you have any chromecast/Google cast options in your TV menu? For me it's in Settings=>Android settings=>Device=>Google cast. The command exploits chromecast to power on TV, but its endpoint seems to be missing on your TV...

[2020-01-21 22:57] TheWizard92 commented on #55
The only Chromecast option that I have under Settings -> Android settings -> Device is "Chromecast Android Shell". Clicking on it just says that it's "Chromecast built-in" and the Version number (in this case, 1.42.179832).

However I do have something else related to Chromecast under Settings -> Wireless and networks -> Wired or Wi-Fi -> Switch on with Chromecast. This should allow the TV to be s

[2020-01-22 12:09] eslavnov commented on #55
Hmm, could you please try flipping that switch manually to off and back to on? Does the command work now?

Also, have you tried casting something to your TV (just to make sure chromecast is working properly)?

[2020-01-22 19:53] TheWizard92 commented on #55
Flipping that switch did nothing, so I went into "Manage Apps" and I cleared the data for Chromecast app, but this changed nothing. Then I went into the Google Play app, uninstalled the Chromecast app (which just uninstalled the latest update, since Chromecast it's a system app) and now I'm getting <Response [201]> and also my TV turns on when I run power_on command. Went back into Google Play and

[2020-01-22 19:53] #55 closed

[2020-01-24 10:31] pire12 commented on #47
I just tested the power_on command on a Philips 7304 and it doesn't work properly, the power state is set to "ON" but the screen remains off.

Steps to produce the issue:

1. send "standy" command (TV is powered off)
2. wait until tv is no more reacheable over LAN (with ping)
3. send WoL packet to wake up the LAN (with the npm wake_on_lan module)
4. wait until tv is  reachable (with ping)
5. send

[2020-01-31 09:42] eslavnov commented on #47
Hey @pire12,
Somebody has actually managed to get power_on command working on 7304. Could you please try the following:
Go to Settings -> Wireless and networks -> Wired or Wi-Fi -> Switch on with Chromecast and turn it on if it's off.
Does it work now? If it still does not, you'll have to do [some extra steps](https://github.com/eslavnov/pylips/issues/55#issuecomment-577357253).

Please share your

[2020-02-02 13:09] zierka commented on #32
The text entry endpoint is at POST `/input/textentry` and the body is:

[code]

It looks like it works only if the POST `/notifychange` API returns that `"textentry":"requested"`.

Looks like it works for textfields where the builtin android keyboard is showing on the TV. There are apps that do not use the standard android keyboard (Netflix, HBO GO), so text input did not work there.

That's what

[2020-02-02 15:00] zierka commented on #49
Sorry to comment to a closed thread (let me know if this isn't the right place for this).

First of all thank you for developing this great utility! I'm building an iOS remote control app for Philips tv-s, and I'm basing it on your implementation.

I think I also have this issue where after some requests subsequent requests are not executed on the TV, though I'm not sure.

After some requests I ge

[2020-02-04 14:17] eslavnov commented on #32
@zierka, thank you for sharing this! I'll check if it's indeed the case and will update the docs if it works!

[2020-02-04 14:22] eslavnov commented on #49
Hey @zierka, I don't remember the exact error (and it will probably depend on the client you are using), but it looks like the same issue indeed. What you can try to do is sending a bunch of requests with a let's say 1 second interval and see at which point you stop getting a response - if it's around 100, then it's probably the same issue. You have to reuse the same SSL session as opposed to open

[2020-02-08 18:42] popy2k14 commented on #55
@eslavnov
I was really happy to see the power_on command in the latest release.
Finally you did it :-)

Sadly for me it does'nt work on my 55PUS9104 and 65PUS8102 when they are in deep standby.
It's been the same issue why the philips v6 api power on does not work, my TVs shutting down the network interface after ~5-10 minutes when they are in standby.
They are not reachable with ping, so the aren

[2020-02-08 19:03] busshi commented on #55
Hello I have the same issue with powerOn command. If deep sleep no wake up ! I tried first without sending WOL packet then with magic packet, same issue. Chromecast is well set up, even the WoWLAN option... I use this command to force powerOn in which I have replace IP with TV’s.
    curl -v http://IP:8008/apps/ChromeCast -X POST

[2020-02-08 19:10] popy2k14 commented on #55
Yeah, also tried with etherwake, but no success sadly.

[2020-02-08 20:07] busshi commented on #55
I tried to turn it on with Alexa and it works even TV is in deep sleep using Alexa’s app in my 7303 series TV. When I remove the Alexa’s app to control via command line it is not working. So I think my TV is able to be turned on back from deep sleep. I tried to find the hidden service menu but all the combinaisons to enter this menu don’t work...

[2020-02-08 20:17] busshi commented on #52
I am wondering how you can access the TV’s IP if network interfaces are down due to deep sleep ? In my case this command work great if TV in standby mode but it doesn’t if deep sleep : 404 non reachable...
I tried with Alex built-in app and it works perfectly to turn on instantly.

[2020-02-08 22:51] busshi commented on #25
For those who have Molotov :

'{"id":"tv.molotov.app","order":0,"intent":{"action":"Intent{act=android.intent.action.MAIN cat=[android.intent.category.LAUNCHER] flg=0x10000000 pkg=tv.molotov.app }","component":{"packageName":"tv.molotov.app","className":"tv.molotov.android.ui.common.splash.SplashActivity"}},"label":"Molotov"}'

[2020-02-09 14:25] popy2k14 commented on #55
Just a quick question to everyone here which are using this approach successfully or not.

How have you connected your tv set to your network?
WiFi or wired?

In my case it was always wired -> hey an cable is an cable!

Now i have made the following interresting findings:
When you disconnect it from cable and connect it to your WiFi it is ALWAYS reachable with ping.
Also after 1 hour!

Here is an

[2020-02-09 14:32] busshi commented on #55
I tried both wired and wifi but same issue... Even if I am not using Wifi I abled it on TV settings’. Yesterday I made a lot of tests and one time the TV was reachable 2 hours after being powered off (by wire the Wifi was disabled)...

[2020-02-09 15:00] popy2k14 commented on #55
You are right :-(
As time of reading your post the ping's timed out in my cmd window :-(
It's so sad that philips just made it so hard for smarthome users to interact with their sets...

BUT i am currently working on an bash test script which looks promising...
Coming back here after i have a test script ready...

[2020-02-09 15:05] busshi commented on #55
As I said previously my alexa device is able to turn the TV on instantly so if I am able to catch the trafic with Wireshark maybe I will find a way to make it works but for now I don’t know how to well use Whireshark because there are a lot of informations. If someone could help me with that...?

[2020-02-09 15:13] popy2k14 commented on #55
Ah, i overlooked that. That would be really nice to capture the traffic.
Can you please explain how you connected Alexa to your TV set?
Maybe mine is missing Alexa support...

I can help you with wireshark:
Open it, and select the network adapter you want to sniff.
Be sure that you are on the same network/switch as your tv/alexa.
Then you see the packets.
Now set a display filter -> enter the foll

[2020-02-09 15:15] busshi opened #56 "[FEAT] send text to TV"
Hello, I would like to send notifications on the TV screen. It is possible because there is a command to send text but it doesn’t work for me.

I have an Echo device and if I use the Alexa app in the TV to pair both devices (Alexa and TV) I can see notifications on the screen when I turn the TV off for example, the TV writes something like Goodbye on the screen. It could be very useful for those w

[2020-02-09 15:19] busshi commented on #55
Thanks for the tip I am gonna try this. To connect Alexa, install Alexa in your TV available on the P’ay Store. Then just follow instructions on the TV to pair your devices. You will se the TV asking you if you want to disable deep sleep to turn it on (this feature works very well instantly). But if you unpair your devices deep sleep come back ! I know there is a hidden service menu in the TV but

[2020-02-09 15:20] popy2k14 commented on #55
Cant we just leave the ALexa app on the TV to prevent deep sleep?

[2020-02-09 15:22] busshi commented on #55
Yes you can ! But you will have to give your datas to Amazon and Google instead of being « cloud free » !!!

[2020-02-09 15:26] popy2k14 commented on #55
Ok, i got you!
In my case thats not a issue, those companys have all already all my data :-)
Using 7 Alexas at my place here.
So thats not an issue.

But yeah an "hidden" option to disable deep sleep yould be really really nice.

But i think we are on the wrong track here.
When the alexa app disables deep sleep the app can constantly communicate with amazon services in the backgrond -> hence the o

[2020-02-09 15:28] popy2k14 commented on #55
another idea: install the alexa app but dont enter your credentials ... can you try this?

[2020-02-09 15:33] busshi commented on #55
I already tried this because Alexa’s app is always on mine TV I can’t remove it. I just can remove my login informations. In this case it doesn’t work anymore. I will try with Wireshark opened and begin pairing Alexa and TV to see what happens but I am afraid commands are sent from Alexa to Amazon cloud, then to Google cloud and finally to the TV so I am not sure to find something with this ! Once

[2020-02-09 15:42] popy2k14 commented on #55
Now i have tested the developer option "Stay awake", sadly ethernet also going offline after a few minutes.

[2020-02-09 15:44] busshi commented on #55
I don’t know this option. Is it on the TV settings ? I don’t have any kind option like that ! Just basics options like WoWLAN... My TV is a 50PUS7303

[2020-02-09 15:53] popy2k14 commented on #55
Go into Android setting -> Info -> click multiple times on "Build" until you got a message that you are a developer. Head back into android settings and and at the bottom you have "Developer options".

[2020-02-09 15:53] popy2k14 commented on #55
PS.: i dont have Alexa in play store on my device!?

[2020-02-09 15:56] busshi commented on #55
Ok thanks sale trick like a phone...

Alexa is a new feature since a month or two. When I bought the TV a year ago, I saw this app but it was not available in France, just in a few countries. Maybe it is not available in yours or maybe your TV is not compatible !?!

[2020-02-09 16:26] busshi commented on #55
So I just pair again my TV and Alexa while snifing trafics with your filters. I dont’ really understand packets... I only found something when I ask Alexa to turn TV on is that the location is http://IP:49153... maybe we have something to try with this port ?

[2020-02-09 16:28] popy2k14 commented on #55
Nice find but just to be sure.
Can you please retry the exact same and look if the destination is the same port 49153?
If its not we are out of luck and thats an active connect from your tv to an echo.
TCP Ports normally change on every connect -> thats why we should retry the same thing.

[2020-02-09 16:31] busshi commented on #55
Just did ! Same location and port : 49153

[2020-02-09 16:45] popy2k14 commented on #55
Wow, thats really interesting. Seems alexa is controlling the tv over this 49153 port.
I have also found the alexa app on my tv, it was just under the home - apps menu :-)
Paired it to alexa and it also asked me regarding deep standby, which i have turned off now.

Running an ping test now...
PS.: Did you tried this? Will the wired interface stayed online? DOes the philips api work longer than 1-2

[2020-02-09 16:51] busshi commented on #55
Nope I didn’t try to ping because I am pretty sure it will always works (because it is an official feature). I tried to wake up with Alexa on the morning, it works (I had shut down the evening before)...
If you disable the Alexa skill it will not work anymore. If you go on the TV in the Alexa app it ask you to activate again.

[2020-02-09 16:55] popy2k14 commented on #55
Thats sad that they must be paired.
Maybe pair it and block traffic from tv <> internet and so keep the service/tv alive?

[2020-02-09 17:02] popy2k14 commented on #55
Or this way:
 * Pair it
 * disconnect tv from internet
 * deactivate skill
...

[2020-02-09 17:51] busshi commented on #55
I cannot do that because all my applications need internet access. I don’t have any box or decoder plugged in the TV.

[2020-02-09 18:07] popy2k14 commented on #55
i dont mean block all traffic, just block alexa traffic to prevent unpairing... but sadly i dont know which ports are used.

PS.: tv set is reachable with ping & philips api is accessable (with pylips) after over an hour :-) so activating alexa did the trick!

Sure just an option to deactivate deep standby would be nice!

[2020-02-09 18:09] busshi commented on #55
Yes I looked into the developper menu but I didn’t find something useful... I am gonna look for the hidden service menu into the TV... I found a lot of combinaisons to go in it but it is not working (I have the original remote)...

[2020-02-09 19:12] popy2k14 opened #57 "[BUG] pylips with set apiv is slow compared to curl"
**Describe the bug**
pylips with correct set apiv (6) is slow compared to bare metal curl.
See results meassured with time:

Result:
[code]

and here pylips witzh teh same request:

[code]

**To Reproduce**
see above

**Expected behavior**
pylips is as fast as curl

**Additional context**
Maybe pathon3 is the overhead here?
Is there anything i can try to debug the issue?

[2020-02-09 22:36] popy2k14 opened #58 "[BUG] MQTT not working with utf8 encoded payload (ex.: from fhem)"
**Describe the bug**
mqtt publish from fhem is not working with the following command:

`set myBroker publish /smarthome/sz/tv/cmd {"command":"volume_down"}`

I have debugged it, and it seems the payload is utf8 encoded!
So after changing line 338 from:

`                message = json.loads(msg.payload)`

to:

`                message = json.loads(msg.payload.decode('utf-8'))`

fixed the issue fo

[2020-02-10 08:49] popy2k14 commented on #57
Seems to be an python2/3 issue.
Importing the modules takes long.
I have removed all code from pylips.py and just leaved the imports in there, the delay with time on running the script is the same.

So it's not an pylips issue!
Will go the mqtt way which is much faster on my first tests.

Closing this now.

[2020-02-10 08:49] #57 closed

[2020-02-10 08:51] popy2k14 commented on #56
I am using "Notifications for Android TV" see the apropriat fhem thread here: https://forum.fhem.de/index.php?topic=83065.0

With this i am sending notifications to my android tv since a xear without any issue.

[2020-02-10 14:01] busshi commented on #56
Ok i am gonna try this. I had an Android phone before and I used newtifry to get notifications from pushingbox service (1000 free requests per day!!!). I will try your app...

[2020-02-10 14:06] busshi commented on #55
So today after a dozen hours, the TV powerstate was still in Standby mode... I will see if it is still working in a few days... To get this, I paired Alexa and TV in the TV app and in the Alexa skill. Then I just deactivate the skill in Alexa app. It seems to leave the TV in standby...

[2020-02-10 14:07] popy2k14 commented on #56
The App i mention works local, without any cloud :-)

[2020-02-10 14:10] busshi commented on #56
Waow really nice but is it possible to send notifications with url ? Or I have to own an Android phone for this to work ? I want to send notifications from my raspberry when a sensor triggers...

[2020-02-10 14:15] popy2k14 commented on #55
That sounds very promising!!!! Thanks a lot for this finding.

Also in my case the tv is reachable in standby today with phylips after activating the alexa skill yesterday. Because i want to use the skill i will leave it on.

@eslavnov can you please add a note to the readme that on android tvs to get a stable pylips (jointspace) interaction also in standby, you have to activate & pair alexa to th

[2020-02-10 14:19] popy2k14 commented on #56
yes! My local installation of fhem (running on rpi) is sending local requests to the tv ip address over my local network. Please see the source code of the fhem module here https://svn.fhem.de/trac/browser/trunk/fhem/FHEM/37_NotifyAndroidTV.pm

I think you can figure out how to "curl" local requests to send a notification :-)

[2020-02-10 15:22] busshi commented on #56
Thanks for the informations. I installed this app fine, but at the end they say I have to continue setting up in an android phone or tablet. I don’t have any of this ! I have the option to manually set up, they says to go at this url : http://IP_TV but nothing appears...
I try this url from the TV browser, same error... So I look into the code to find a way to curl : I try
curl -X POST http://IP:7

[2020-02-11 10:34] eslavnov commented on #55
Thanks guys for the information, this is very helpful! I'll have to do some additional research because I don't have Alexa on my TV but I am still able to wake from deep sleep... I'll have to investigate what's going on... But as a workaround this is really nice, thank you again, guys!

[2020-02-11 10:44] popy2k14 commented on #55
@eslavnov
On our sets we have tried everything and when the TV is in standby the ethernet interface and wifi is switched off after while.

Which TV set do you have?

Anyway, using this workaround now and finally can get rid of my IR blasters and RPIs.

[2020-02-11 13:27] busshi commented on #56
So apparently it is not possible this app without having an Android mobile or tablet according to the developper. I have to find another way...

[2020-02-11 14:03] popy2k14 commented on #56
Take a look at PipUp:

https://play.google.com/store/apps/details?id=nl.rogro82.pipup
https://github.com/rogro82/pipup
https://forum.fhem.de/index.php/topic,106363.0.html

Good luck

[2020-02-11 20:48] busshi commented on #56
Nice Popip does the job very well ! 👌 Thanks a lot

[2020-02-11 20:48] #56 closed

[2020-02-11 21:22] popy2k14 commented on #56
Nice that it's working for you!

[2020-02-12 11:50] popy2k14 commented on #58
Have created an PR see #59

[2020-02-15 17:38] nikosillo opened #60 "[BUG] Ambilight+Hue commands not work (Philips 55PUS7304)"
Hello!
First congratulate you for this great script. The second I apologize for my English, I must use Google Translate.
I am trying to generate a switch by mqtt to be able to turn the Ambilight + Hue on and off on the 55PUS7304 and be able to integrate this feature into my home automation center.
The Philips Remote application connects relatively well with the TV (it has disconnection failures an

[2020-02-16 12:48] Nastras opened #61 "Standard Lounge Light Scenes"
Hello and many thanks for the tool.

I have discovered that it is also possible to call up the standard Lounge Light scenes via :
192.168.XXX.XX:1925/6/ambilight/currentconfiguration

Maybe you would like to record them as well?

Here are the bodies for it:

{
    "styleName": "FOLLOW_COLOR",
    "isExpert": false,
    "menuSetting": "HOT_LAVA",
    "stringValue": "Hot Lava"
}

-------------------

[2020-02-19 13:07] #51 closed

[2020-02-19 13:26] eslavnov commented on #60
Hey @nikosillo,

Thanks for your feedback! It looks like your TV is using some other NodeId for Ambilight+hue, because `ambihue_status` returns different data for me:
`{"values":[{"value":{"Nodeid":2131230774,"Controllable":true,"Available":true,"string_id":"Switch on","data":{"value":false}}}],"version":0}`

Could you please run Pylips with the following args?
`--command get --path 'menuitems/set

[2020-02-19 13:32] eslavnov commented on #61
Hi!

Thanks for your input! Could you please share the results of calling 'http://ip-address:1925/6/ambilight/supportedstyles'? Your menuSettings are different from mine and I wonder if the endpoint above would give you the same options or not.

Thanks in advance!

[2020-02-19 16:44] nikosillo commented on #60
Thank you very much, I would really appreciate it
I don't know if the data in that file is sensitive, I send it to you by email. It would really be great to be able to support this model, although it is strange, I thought it was a more common model

[2020-02-19 18:01] Nastras commented on #61
The standard scenes are not shown here, to get them you have to switch on the scenes with the lounge light button on the remote control and then read them out with:

http://ip-adress:1925/6/ambilight/currentconfiguration

Afterwards you can use this via the API with:
POST 192.168.XXX.XX:1925/6/ambilight/currentconfiguration (BODY)

Let me know if it works.-)

{
    "supportedStyles": [
        {

[2020-02-19 19:40] Nastras commented on #52
I have a question and it's that switching on does not work with your script and the Chromecast option on my TV. I have created a debug file with

--command get --path 'menuitems/settings/structure' --verbose True > settings_dump.txt

and I've been reading these figures out. Can you tell me if it should work with your script?

{"node_id":2131230736,"string_id":"org.droidtv.ui.strings.R.string.MAIN_

[2020-02-20 14:53] eslavnov commented on #52
@Nastras,

Power on seems to be behaving strangely for some users, see details [here](https://github.com/eslavnov/pylips/issues/55). I am investigating it, hopefully I'll come up with a fix soon.

[2020-02-21 08:18] eslavnov commented on #58
Fixed by #59

[2020-02-21 08:18] #58 closed

[2020-02-21 17:35] zierka commented on #49
It doesn't seem to be a ~100 request issue. I can repro it easily by quickly making a lot of requests (~2/second). After a short time (~1-2 minutes) the problem goes away and I can make requests again. Are you not having issues after making requests quickly after each other?

[2020-02-22 17:31] meltedhaggis opened #62 "Unknown API on 50PUS7394"
"IP 192.168.0.223 is online, but no known API is found. Exiting..."

If its something you're interested in sorting and I can help let me know

[2020-02-23 10:28] eslavnov commented on #62
Hey, this model behaves a bit strange, check out this [issue](https://github.com/eslavnov/pylips/issues/51). Does the mobile Philips TV remote app work for you? If yes, and you are willing to spend some time capturing the traffic (I'll give you instructions to follow), I might be able to sort it out. Otherwise there is not much I can do, since I don't own this particular model.

[2020-02-25 15:42] Nastras commented on #61
I wanted to see if it worked?

[2020-02-28 15:25] eslavnov commented on #61
Thanks, @Nastras! It worked, I've added it to the latest version of Pylips!

[2020-02-28 15:25] #61 closed

[2020-02-28 20:23] Nastras commented on #61
Hey cool that it works and you implemented it. Thanks a lot!

[2020-03-08 18:16] albertomarrod commented on #39
Hi! Maybe I can "help" you with this. I am a Saphi TV owner and I have no idea how to add the support for SAPHI TVs.

I guess I should install Charles on my laptop and then listen the ports of the TV. If I am wrong just tell me how to help you with this.

BTW: Thank you so much for your effort and for such a great work you made

[2020-03-09 11:52] eslavnov commented on #39
Hey @albertomarrod,

Thanks for offering your help! To add support for SAPHI OS, I would require the following:
1) List of pylips commands that do not work as expected on SAPHI OS
2) For each of this commands, I'll need a saved Charles session with you using these commands via the Philips mobile remote app. Then I can take a look at the sent packets and reverse-engineer such commands.

If you choo

[2020-03-10 18:16] iffa commented on #62
Issue also presents itself on 55PUS7334. Official remote app doesn't work, ports 1925 and 1926 are seemingly closed.

[2020-03-11 12:55] svatos-jirka commented on #62
The same issue for Phillips model 55PUS7304. Please help. What can I analyzed?

[2020-03-11 13:50] albertomarrod commented on #39
Hy @eslavnov,

I just start trying pylips and I am having the same issue than people on here https://github.com/eslavnov/pylips/issues/62.

I attached the issue I am getting... Maybe you will be able to help me more.

Thanks!

![Pylips](https://user-images.githubusercontent.com/28586855/76423506-35b58c00-63a7-11ea-9621-f5326ce9ff02.PNG)

[2020-03-11 18:53] svatos-jirka commented on #62
HI,

for any reason, it works now. I dont know why. I didnt change anything (I tried to enable debug on TV, but then I disabled it again). Phillips remote app  didnt want to work too. But after cca 1 hour, the app was able to connect.

[2020-03-18 15:53] ytrufchev opened #64 "MQTT volume command"
I can't get the volume command to work over mqtt by using {{"command":"volume","body":{"value":10}}
Am I doing something wrong.

[2020-03-25 10:20] PostSven commented on #60
I happen to have the same issue, i found that the node id is actually different

{"node_id":2131230776,"type":"PARENT_NODE","string_id":"org.droidtv.ui.strings.R.string.MAIN_AMBILIGHT_PLUS_HUE","context":"ambilight_hue_menu","data":{"nodes":[{"node_id":2131230777,"type":"PARENT_NODE","string_id":"org.droidtv.ui.strings.R.string.MAIN_AMBILIGHT_HUE_CONFIGURE","context":"ambilight_hue_wizard","data":

[2020-03-25 11:34] eslavnov commented on #60
Hi @PostSven,

Thanks for sharing the info! Indeed, the node_ids are different, here are the ones that work for this model:
1) Should turn ambilight off:
python3 pylips.py --command post --path menuitems/settings/update --body '{ "values": [{ "value": { "Nodeid": 2131230766, "Controllable": true, "Available": true, "data": { "activenode_id": 2131230767 } } }] }'
2) Should turn ambilight on:
python

[2020-03-25 11:37] eslavnov commented on #62
Yeah, this happens sometimes (the API stops responding). I thought that it was an issue with Pylips, but a) I've fixed it in one of the previous versions and b) the official app also does not work. This tells me that it is an API problem, not a Pylips issue. Unfortunately, there is nothing I can do about it!

[2020-03-25 11:37] #62 closed

[2020-03-25 13:10] eslavnov commented on #64
Hi @ytrufchev,

The `volume` command does not support setting the volume to a specific level: it just returns the current volume (but you won't see any response if you use it with MQTT).

To change the volume with MQTT, you could use the following command: `{"command": "volume_up"}`. It will increase (or decrease if using `volume_down`) the volume by 1 step from the current level.

[2020-03-25 13:10] #64 closed

[2020-03-25 13:26] ytrufchev commented on #64
Thank you

[2020-04-03 02:37] ridwancc commented on #60
hi there, im having trouble turning on and off the ambilight and ambilight hue on the tv. Just does not work. If i try to return status of ambilight hue get an empty response. Heres my dump file. Are you able to help?

Sending GET request to http://192.168.1.83:1925/6/menuitems/settings/structure
Request sent!
{
	"node": {
		"node_id": 1,
		"type": "PARENT_NODE",
		"string_id": "MLM_PHM_KEY_ID_AMB

[2020-04-06 14:15] popy2k14 opened #65 "[FEAT] Launch shutdown/restart menu"
Hey @eslavnov,

hope you and your family are doing well these days?

I have an idea regarding launching the shutdown/restart menu on the android TV over pylips.

In the toengel blog there is an interesting entry which allows to map the shutdown/restart menu to any button (except standby). Also starting apps, activities can be launched this way!

Here it is: https://toengel.net/philipsblog/2020/04/

[2020-04-07 12:58] eslavnov commented on #60
Hey @ridwancc,
That's a quite weird menu structure you've got, I've never seen anything like this. Could you please share the output of 'http://tv_ip_address:1926/system'?

[2020-04-10 15:18] eslavnov commented on #65
Hey @popy2k14 ,

Good to hear from you! We are doing well, how are you?

Unfortunately, I am not familiar with the intent/activity required to show this menu. I am also not getting anything from the API when I use `activities/current` command when this menu is open, so I am not sure it's possible. I'll re-open this issue if I stumble upon a solution, but I would not count on that.

I'd say the eas

[2020-04-10 15:18] #65 closed

[2020-04-11 15:20] popy2k14 commented on #65
Hi @eslavnov .

Thanks, we are fine too.

Thanks for the hint!
Finally i have an easy accessible shutdown/reboot menu.

[2020-04-14 19:43] ridwancc commented on #60
hi @eslavnov,
Thanks for the reply. The TV model number is PUS6703. and the output i get below:

`Sending GET request to http://192.168.1.83:1925/6/system
Request sent!
{
	"menulanguage": "English",
	"name": "43PUS6753/12",
	"country": "United Kingdom",
	"serialnumber_encrypted": "K2kseVsmQFgkd15gKkJ+aiPbvuq2OIZYqMR2oK1DHjw=",
	"softwareversion_encrypted": "K2kseVsmQFgkd15gKkJ+ak3ednbEwu0L3RKYbs0G

[2020-04-21 23:49] 10w73 opened #67 "[FEAT] Screen off (not Power off)"
I want to toggle "Screen off" but can't figure it out.

Using GET on http://ip-address:1926/6/menuitems/settings/structure gave me:

`{"node":{"node_id":2131230753,"type":"PARENT_NODE","string_id":"org.droidtv.ui.strings.R.string.MAIN_VB_SETUP","context":"Setup_Menu","data":{"nodes":[{"node_id":2131230841,"type":"PARENT_NODE","string_id":"org.droidtv.ui.strings.R.string.MAIN_PICTURE","context":"pi

[2020-04-22 07:23] eslavnov commented on #67
I've spent some time in the past trying to make this feature work, but had no luck. I don't think you can control it with 'menuitems/settings/update' since 'menuitems/settings/current' does not return 'data' key (which can be toggled this way).

Closing this one since there is nothing I can do about it :(

[2020-04-22 07:23] #67 closed

[2020-05-04 08:18] AcuarioCat opened #68 "[FEAT]Additional API calls"
I have been investigating controlling the TV and have discovered some extra API calls that are not in the list.
On later models the tv uses API 6 so most calls are proceeded by this. i.e.
http://<tv ip address>:1925/6/[API call]
http://<tv ip address>:1925/6/system

It seems the /system call will return valid data when called with either /1/ or /6/ - presumably so the actual API can be determined

[2020-05-04 11:43] AcuarioCat commented on #52
I'm trying to figure this for my tv - 65PUS6703
When in standby there is no response to a ping but the Philips remote app can turn it back on.
It tries to open a connection to port 2870 (sometimes twice) then sends a "Standby" json to port 1925. In between the tv appears to wake up and starts responding to pings again.

[2020-05-04 18:13] AcuarioCat commented on #68
Some more information after more investigation..

Changing channel is more efficiently performed using the /activities/tv POST.
You need to post a JSON with the following format:
{"channel":{"ccid":"100067"},"channelList":{"id":"favcab"}}
ccid is the ccid for the channel you want, id is the channel list.

Using the ccid seems the way to change channel if you have downloaded the list of channel nam

[2020-05-09 19:41] lmpclk opened #69 "[FEAT] Volume Response & Changing when connected to Headphone Output"
First, thanks for the great script and API documentation, has really helped me out build some home automation stuff between the TV, Node-Red and Homekit!

I am using a 50PUS6703/12 TV operating a Linux OS, I am however using the headphone output of the TV to output audio to external speakers. When running the command `python3 pylips.py volume` it returns the same values regardless of the mute stat

[2020-05-09 20:38] fniwes commented on #52
I have a Philips 50PUD6654/77
he only way to turn the tv on is using wakeonlan, just that.

But to use wakeonlan you need to know the mac address of the tv.
also, i did not try it but this model supports WoWLAN so, should works on wireless too.

@eslavnov  May I help you somehow to implement this functionality in the script?

[2020-05-10 10:26] siggi85 commented on #47
I would also prefer a list of TV models which are working. There is nothing in the technical documentation of a philips tv where I can look for myself weather the api is supported, right?!?

[2020-05-30 17:22] jonasstrehle commented on #68
Hey AcuarioCat - good work.
Trying to implement some of your investigation in my private home automation app.

How to use `/6/channeldb/tv/channelLists/allcab//logo`?
Would you be so kind to translate this into a curl? I can't get it to work.

Regards Jonas

[2020-06-09 22:02] Trilyan opened #70 "[FEAT] "Follow Sound" Ambilight with a custom color"
Official Phillips app has the ability to set ambilight to "Follow Sound" and then pick a specific color to avoid the "rainbow effect".

I tried replicating this with custom commands without success, not even with CURL. Seems like the app does something different...

This is what I GET with this mode active:

GET /6/ambilight/currentconfiguration:

"styleName":"FOLLOW_AUDIO",
"isExpert":true,
"audi

[2020-06-12 05:26] old-square-eyes commented on #47
Cool project! Just got a 65PUT6703 in New Zealand. Dismayed to see the official app doesn't pick up the TV. Have just set up your library and can get standby and ambilight on working (ambilight off doesn't seem to work even though it's sent).

[2020-06-12 05:53] old-square-eyes opened #71 "[FEAT] Listening to music - To be able to set "screen off", "screen on" or otherwise toggle display panel on/off"
**Describe the solution you'd like**
To be able to set "screen off", "screen on" or otherwise toggle.

This is a setting in my quick settings menu for turning off the panel (but not the TV), for example when you are listening to music.

I have this setting on my 65PUT6703 GUI

[2020-06-12 14:01] eslavnov commented on #71
I've actually looked into this functionality some time ago: I also have this option in the menu, but I was unable to make it work through the API, unfortunately.

If somebody manages to make it work, please share your solution!

[2020-06-19 21:09] Brunty commented on #60
I have a menu structure very similar at first glance to the structure above - my model number is `50PUS6704/12`.

I ran `python3 pylips.py --command get --path 'menuitems/settings/structure' --verbose True > settings_dump.txt` to get the structure when ambilight was off, and then ran it again (but changed the output to `settings_dump_on.txt`) and diffed the files, they're the same as each other.

[2020-06-24 21:06] ridwancc commented on #60
if I use the command "ambilight_off" it switches the ambilight+hue off. "ambilight_on" sets my the tv ambilight to app. Those are the only two that work. I just want to toggle ambilight+hue but it seems the commands are mixed up for my tv.

[2020-06-25 10:26] eslavnov commented on #60
Ok guys, I've finally sorted out all of my personal stuff, so now I have some time to work on this issue.

Talking about "Ambilight + hue", it seems that it works differently depending on a TV's model. So far I have seen:
1) "Regular" TV where ambilight+hue is controlled by nodeid 2131230774 (I call them "regular" purely because this is how it behaves on my TV and all the TVs I've seen before this

[2020-06-25 10:48] eslavnov commented on #52
@fniwes WoL works really shitty on Philips TVs - it's super-slow and not very reliable, so Pylips won't support this.

[2020-06-25 10:49] eslavnov commented on #52
**Latest state of things:**
For Chromecast-enabled models, using the built-in `power_on` command is the best option. It might require running `allow_power_on` first, [reinstalling chromecast](https://github.com/eslavnov/pylips/issues/55#issuecomment-577357253) and/or [activating Alexa](https://github.com/eslavnov/pylips/issues/55#issuecomment-584142585), although for me it worked without any of th

[2020-06-25 11:01] eslavnov commented on #69
Hey @lmpclk, thanks for your post! I output my TVs audio over HDMI and the volume works as expected for me. I've also never seen any alternative audio endpoints, so unfortunately this looks like a Philips bug or something. There is nothing I can do, but I'll keep my eye on this one and will re-open it if I find any new info.

[2020-06-25 11:01] #69 closed

[2020-06-26 20:03] ridwancc commented on #60
I've tried using the phone app but it just doesn't connect to my TV, hasn't worked for a few months.
I'm not sure if this will help but when I send the this command:
`python3 pylips.py --command post --path 'menuitems/settings/current' --body '{"nodes":[{"nodeid":420}]}'`
I get the response:
`{
        "values": [
                {
                        "value": {

[2020-06-28 10:39] Brunty commented on #60
@ridwancc I get the same results on my TV!

[2020-06-28 11:59] FeikoJoosten commented on #60
Sorry for joining into the conversation. But I'm guessing that if your tv does not support the ambilight feature, there's no way of turning it on through the API? This way, I could for example use the information from the ambilight to send it an external RGB strip to make use of my own implementation of ambilight.

if I run the ambilight status command I onlý get the following:
[code]

[2020-06-28 14:04] eslavnov commented on #60
Try running this:  `python3 pylips.py --command post --path menuitems/settings/update --body '{ "values": [{ "value": { "Nodeid": 420, "Controllable":true, "Available": true, "data": { "value": true } } }] }'`. Replace `"value": true` with `"value": false` for an opposite effect. Let me know if it works!

[2020-06-28 14:11] eslavnov commented on #60
@FeikoJoosten `ambihue_status` is not an Ambilight status command, but the status for Ambilight+Hue. Check the wiki for Ambilight-related commands to see what's possible. Probably [this one](https://github.com/eslavnov/pylips/wiki/Ambilight-cached-(GET)) would be useful.

[2020-06-28 14:22] FeikoJoosten commented on #60
@eslavnov Thanks for coming back to me. Interestingly enough, the [supported styles](https://github.com/eslavnov/Pylips/wiki/Ambilight-supported-styles-(GET)) command does give me multiple supported styles. But the cached, measured, processed commands are all empty for my. (Yes the Ambilight Power does return `On`).

I’m guessing that since my tv model doesn’t actually have ambilight. The processo

[2020-06-30 13:22] ridwancc commented on #60
I downloaded the older version of the Philips tv remote app and that connects fine to my TV. The Ambilight+hue button doesn't toggle the settings on TV it only shows whether it is on or off. So I guess that confirms its not possible to toggle ambilight+hue in this way if the official app doesn't support it. The only way I can imagine this would work is by somehow interrupting the connection of the

[2020-07-11 19:38] popy2k14 opened #72 "[FEAT] Silent Reboot"
Using pylips in mqtt mode now on an 65pus8102 and 55pus9104, it works really good!!
Since activating alexa on the TV sets it doesn't deactivate the network interfaces in standby (I think it just don't go in any sleep mode) and I am able to wake it with pylips sending standby key.

Sadly in my case, after a few days the sound over my avr (connected with ARC) is choppy. A manual restart of the TV se

[2020-07-19 11:21] eslavnov commented on #72
Hey @popy2k14 ,

What exactly do you mean with a 'silent reboot'? `adb reboot` works nicely for me, so I am not sure what is the behavior you would like to see?

[2020-07-19 11:26] popy2k14 commented on #72
Yeah, also using adb reboot now at night in the living room and day in bed room to reboot my devices on an daily basis.

With silent I mean, that the display of the TV is OFF during reboot.

[2020-07-26 07:14] emivaljr opened #73 "[FEAT] Add Support for Saphi OS TVs"
**Is your feature request related to a problem? Please describe.**
Couldn't find anywhere saying that this code supports Saphi OS TVs and this would be nice to have.

**Describe the solution you'd like**
I would like to be able to control Saphi OS TVs with the same commands that you have for other philips TVs

**Describe alternatives you've considered**
I don't think there is anywhere some alterna

[2020-07-26 08:59] eslavnov commented on #72
Hey @popy2k14,

I've done some research but so far I had no luck with the 'silent' reboot :( I'll keep an eye on this feature request, though - I might think of something in the future.

[2020-07-26 09:04] popy2k14 commented on #72
Thanks a lot.

[2020-07-26 09:19] eslavnov commented on #73
Hi @emivaljr,

Saphi OS TVs are not officially supported by Pylips, but some of the commands still work (don't know which). You can check #39 and #47 for some discussions on this topic.

The gist of it is that since I don't own a Saphi OS TV, there is nothing I can really do to add a proper support for such models. I need somebody to try all Pylips commands with such a TV and let me know which one

[2020-07-26 14:05] emivaljr commented on #62
I had the same issue on my Saphi OS TV and the solution is to enable WoWLAN option:
Network -> Switch on with Wi-FI(WoWLAN). It comes by default off.
After that, I was able to call the API on 1925 port.

[2020-07-26 14:07] emivaljr commented on #39
@albertomarrod  I had the same issue on my Saphi OS TV and the solution is to enable WoWLAN option:
Network -> Switch on with Wi-FI(WoWLAN). It comes by default off.
After that, I was able to call the API on 1925 port.

[2020-08-07 08:07] JurnD commented on #73
I would really like to help with this since I just got a philips 55pus6704/12 (Saphi) TV.
Unfortunately I have not been able to connect the Philips TV Remote app to it and when I try pylips.py it succesfully connects but then the TV immediately closes port 1925. It's open after taking the power of, but it stays open about 12 seconds after connecting anything to it.

Before I start wasting time on

[2020-08-09 11:33] DavidFFerreira opened #74 "SAPHI OS works great with most commands, its possivel to used it resscommand in HA?"
SAPHI OS works great with most commands, its possivel to used it resscommand in HA?

[2020-08-09 17:59] 10w73 commented on #60
Any updates on this? Is there maybe a beta? For me nodeid 2131230778 works. I would love to read the correct Ambihue state for an mqtt switch I want to implement in homebridge.

Or is there something I can more or less easily change somewhere to have the correct state in the mqtt status? Right now it says Ambihue is „5“.

[2020-08-10 09:51] DavidFFerreira commented on #73
JurnD thats not correct, I have tried several commands, and I did never reboot the TV. the ports didn't close at all. Some commands don't work, thats true, but the most works. Power on, standby, volume up, volume down, scenes of ambient light...5*

[2020-08-10 09:58] DavidFFerreira opened #75 "ambilight_color - SAPHI OS - Wrong body parameters"
ambilight_color - Sets ambilight color. Requires a valid --body argument: {"hue": 360, "saturation": 100,

Can you check what is the body parameters for Saphi OS? This is one of the commands that don't work, because it have the wrong body. The method ambilight_color  exists.

[2020-08-10 13:19] emivaljr commented on #73
@DavidFFerreira Are you sure you have Saphi OS TV? Because looking at the code and also with personal tests there is no way power on will work. The code there is specific for Android TV versions.

[2020-08-10 14:52] JurnD commented on #73
@DavidFFerreira You can say that's not correct, but I can see it happen. Every time I try a command that is not supported I check the port with Nmap and it is closed. Perhaps it doesn't work that way for your TV, but for mine it does.

[2020-08-11 19:26] DavidFFerreira commented on #73
@emivaljr yes I have
PHILIPS 65PUS6754/12
The power on, works just fine with network packages, and you can even retrive the power state from tv after power on

[2020-08-11 21:29] emivaljr commented on #73
Can you send the details of that? Maybe the rest call.

[2020-08-14 09:27] DavidFFerreira commented on #73
I use it in Home Assistant

media_player:
  - platform: philips_js
    name: "Philips TV"
    host: 10.0.0.1
    turn_on_action:
      service: wake_on_lan.send_magic_packet
      data:
        mac: "68:XX:XX:XX:0A:F2"

[2020-08-15 17:29] emivaljr commented on #73
Ok, using WOL. Can you confirm that works all the time? I think @eslavnov already had some comments around this:
https://github.com/eslavnov/pylips/issues/16#issuecomment-488034130

[2020-08-22 12:01] popy2k14 opened #76 "[QUESTION] MQTT Power Status during Night"
**Describe the bug**
Before i'll used pylips my smarthome ping'ed the ethernet interface of my TV's (65PUS8102 & 55PUS9104).
If they where offline/online this was a trigger todo certain things (switching lights, ...).
Sadly the philips tv has woke up in the night on ~04:00 AM everyday made this useless as a trigger.
After activating alexa on the tv, the "deep standby" was deactivated and the power

[2020-08-24 18:17] popy2k14 commented on #76
My Smarthome has the answer :-)

[code]

Sadly pylips is reporting an short on period during the night.

Is there any workaround?

Thanks

[2020-08-26 11:42] DavidFFerreira commented on #73
For me works all the time =) my tv is  philips 65pus6754 with SAPHI OS

[2020-09-07 10:29] sintezcs opened #77 "[FEAT] publish to pypi"
Hi! Do you have any plans for packaging your tool and publishing it to PyPI?

[2020-09-28 20:25] Humpelpumpel opened #78 "[BUG] MQTT Wrong powerstate"
Hello, I have a strange bug:

When I call https://192.168.178.32:1926/6/powerstate I get powerstate "On"
But with MQTT I get {
   "powerstate": "Off",
   "volume": null,
   "muted": false,
   "cur_app": null,
   "ambilight": null,
   "ambihue": false
}

[2020-09-28 20:33] #78 closed

[2020-10-19 12:13] ShifuEst opened #79 "pylips and home assistant install?"
Hello

Could you please do a tutorial on how to install it. (Home assistant raspberry pi) My tv is philips sahpi OS.

to which folder should I move these files? and which files?

thank you 

[2020-10-19 12:58] eslavnov commented on #79
Hi,

There are no specific installation instructions. Copy the repo to any folder, navigate inside it and run the commands from the Readme ("Prerequisites" and "Setting up Pylips").

For home assistant you are probably better off using this component (not related to Pylips): https://github.com/nstrelow/ha_philips_android_tv

[2020-10-19 12:58] #79 closed

[2020-10-19 13:14] ShifuEst commented on #79
But i’m not use android. I use saphi

Lugupidamisega, Marek

📞 +372 57 80 80 70
✉️ marek.uuk@gmail.com
________________________________
Saatja: Evgeny Slavnov <notifications@github.com>
Saadetud: Monday, October 19, 2020 3:59:07 PM
Adressaat: eslavnov/pylips <pylips@noreply.github.com>
Koopia: ShifuEst <marek.uuk@gmail.com>; Author <author@noreply.github.com>
Teema: Re: [eslavnov/pylips] pylips an

[2020-10-19 13:24] eslavnov commented on #79
@ShifuEst most of the commands will work on Saphi, but not all (you can search the issues to understand what works and what does not). Same is probably true for the component I've mentioned above since it's using the same API.

[2020-11-05 08:35] Dickoz opened #81 "[FEAT] Switching between sources works for G. Assistant, any remote service known?"
I have a Philips 43PUS8535. Switching between sources can be done through traversing a menu only, I think. The model does not accept the HDMI x IR discrete codes of my older 43PUS7304. Switching between sources is now bothersome.

I found that G. Assistant (embedded in the TV) does recognize voice input 'HDMI 1' (spelled) up to 4, and even in Dutch. And it switches rapidly.
Does this mean that the

[2020-11-05 09:01] eslavnov commented on #81
Hi @Dickoz,

On Android TVs there is definitely some kind of a hidden API/service to switch the sources, but I have not been able to actually find it and figure out how to use it. If you would connect a keyboard to your TV, then you can switch the sources by pressing F1-F5. Based on this, I've made a small wrapper around adb to send such commands remotely: https://github.com/eslavnov/android-tv-re

[2020-11-05 18:10] Dickoz commented on #81
Thanks eslavnov. I managed to borrow a Bluetooth keyboard and paired it with my Philips TV. Unfortunately Android-TV apparently reacts differently. F1-F8 function as contrast and sound changes, and F10 activates an image correction menu. Thanks anyway, it was worth trying. If I find something else I'll let you know.

[2020-11-18 15:58] evgsil commented on #32
FYI one more useful feature is to send chars one by one to POST /input/key
with the body {"unicode" : "A"}

Works pretty well on input fields for my non-Android TV (2019)

[2020-11-18 16:00] evgsil commented on #32
Also you could use POST /input/pointer

[2020-11-21 20:17] unickq commented on #41
This worked for me. But for 2018

[2020-11-23 07:22] Mr-Groch commented on #60
Hi, I also have non Android Philips TV from 2019 year (55PUS6754/12). And I have similar menu structure like @ridwancc  above. Node with switch:

[code]

`{"nodes":[{"nodeid":420}]}` on `http://192.168.1.125:1925/6/menuitems/settings/current`  gives me current ambilight+hue status properly:

[code]

But can't set it with `{ "values": [{ "value": { "Nodeid": 420, "Controllable":true, "Available": t

[2020-11-23 09:06] Mr-Groch commented on #60
OK, I have found it myself. I've used httpCanary app to sniff traffic from my smarphone. Controlling Ambilight+Hue is pretty simple:

### To check status of Ambilight+Hue you have 2 options:
1. POST `{"nodes":[{"nodeid":420}]}` to `http://tv_ip:1925/6/menuitems/settings/current`. But `nodeid` may be different on each TV model - you have to GET `http://tv_ip:1925/6/menuitems/settings/structure` and

[2020-12-05 21:07] Skjall opened #82 "[BUG] Error on Empty Channel List"
I don't have channels on the TV. I only use external source (MagentaTV Media Receiver) and apps.
When loading Homebridge the following error occurs:

[12/5/2020, 10:06:02 PM] [Wohnzimmer TV] getCurrentActivity: unknown application:{}

[12/5/2020, 10:10:12 PM] [Wohnzimmer TV] getCurrentActivity: unknown activities/tv structure: {}

The call to /6/activities/tv is empty json:

{}

Call to /6/activit

[2020-12-06 00:18] #82 closed

[2020-12-08 22:37] Erehr opened #83 "[FEAT] Controll actual RGB color"
I don't really know what I'm doing but I managed to make simple commands like ambilight_on and _off work but have problem with ambilight_color. By reading readme and how some other --body arguments look like I can't get this command to work.
python pylips.py --command ambilight_color --body '{"hue": 360, "saturation": 100, "brightness": 255}'
getting error: unrecognized arguments: 360, saturation:

[2020-12-11 14:52] eslavnov commented on #83
Hi @Erehr,

I've copied & pasted the command you provided and it works well for me. The error you are getting shows that you are missing quotes around your arguments, so probably you copied it wrong.

It also allows to set an individual color, but it uses HSB instead of RGB. You can convert RGB to HSB [here](https://rgb.to/) and then plug in the values to hue/saturation/brightness arguments in the

[2020-12-11 14:52] #83 closed

[2020-12-11 21:42] Erehr commented on #83
`c:\>cd pylips

c:\pylips>pip install -r requirements.txt
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pycryptodome>=3.9.4 in c:\users\erehr\appdata\roaming\python\python39\site-packages (from -r requirements.txt (line 1)) (3.9.9)
Requirement already satisfied: requests>=2.20.0 in c:\users\erehr\appdata\roaming\python\python39\site-pa

[2020-12-12 08:33] eslavnov commented on #83
Since you are using Windows you need to escape the quotes in your command. Here is an example from Readme for a different command, notice the '^' symbols:

`python3 pylips.py --host %TV's_ip_address% --user %username% --pass %password% --command post --path menuitems/settings/current --body ^"{^"^"nodes^"^":[{^"^"nodeid^"^":2131230774}]}^"`

[2020-12-13 15:24] #60 closed

[2020-12-13 15:27] eslavnov commented on #60
Thanks for the feedback, everybody! Starting from version 1.3.0 Pylips now should handle Ambilight+Hue correctly on all models.

[2020-12-13 15:28] eslavnov commented on #81
Thanks for the idea, @Dickoz - I was able to utilize one of the API methods to talk to google assistant, so starting from version 1.3.0 Pylips can switch input sources!

[2020-12-13 15:28] #81 closed

[2020-12-13 15:29] #74 closed

[2020-12-13 15:29] #72 closed

[2020-12-13 15:33] #52 closed

[2020-12-13 16:42] eslavnov commented on #76
The power state relies on whatever the TV's API is returning. Any custom logic that you might want to introduce should be handled on your client, not in Pylips itself since it's just a wrapper around the API.

[2020-12-13 16:42] #76 closed

[2020-12-13 16:47] eslavnov commented on #77
Hi,

No such plans, Pylips is mainly an illustration of what the API is capable of and the real value of this project lies in the wiki and issues discussions. Since it has limited value as a standalone tool, I see no point in publishing it to pypi.

[2020-12-13 16:47] #77 closed

[2020-12-13 17:16] popy2k14 commented on #76
Yeah, I have implemented a workaround in my smarthome or just do not trigger on power event.

Sad that philips has such bugs (or even needs reboots at night to keep things srable)

But sure it's not pylips related 😉

[2020-12-27 17:14] zierka commented on #32
`/input/textentry`

[code]

This also submits the input.

[2020-12-30 10:49] XtraLarge opened #85 "Home Assistant and MQTT"
Hello,

First of all you done a great job with pylips, so thank you very much for your efforts!

Now my situation and problem ....

I own to Philips TVs that supports pylips. With the last firmware it wasn't possibile to change the source "hdmi1" - "hdmi4" with my hormony hub. So I've looked for an other way to chnage the input channel of my tv. I've installed pylips and checked that it works.
So

[2020-12-30 11:15] XtraLarge commented on #85
Hi,
I thought I've found the problem. The JSON was malformed. The correct data for MQTT is:
[code]
So my only wish were that it would be geat, if the source would be a little bit more resistant for malformed JSONs.

[2020-12-30 11:27] eslavnov commented on #85
Hi,

Good point on the malformed JSONs, thanks! I'll fix it in the next release. Also `powerstate` only returns the current power state, it does not allow changing it. Use `{"command": "standby"}` instead.

[2020-12-30 11:27] #85 closed

[2020-12-30 12:16] #68 closed

[2020-12-30 22:49] heikok88 opened #86 "[BUG] cur_app always returns TV on 55OLED865/12"
**Describe the bug**
In the status message (via MQTT) always "TV" is returned as "app" in "cur_app".
The powerstate, volume, mute, ambilight settings etc. are reported correctly - nice work, thank you!

**To Reproduce**
I have a Philips 55OLED865/12 from 2020 TV with Android TV 9.

**Expected behavior**
Should report Netflix, Disney+, Prime, Settings and so far.

**Additional context**
"{"powersta

[2021-01-04 14:47] theRemoter opened #87 "is there a java version for this project & emulator question?"
Hello

thanks for this great lib!
1. is there a java version for this project?
2. is there a way to test this project on some kind of emulator if i don't have a philips tv?

[2021-01-04 23:17] eslavnov commented on #87
Hi there,

1. There is no Java version. I'm struggling to imagine a use case for that, why do you ask?
2. Not sure that I get the question. What's the point if you don't have an Philips tv?

[2021-01-05 07:42] theRemoter commented on #87
Hi.
1. just for a practicing study, I thought it would be educative to create a java version of it
2. I'll clarify myself- was wondering if there are like unit tests or dummy api responses for testing if a philips tv isn't always available.

[2021-01-05 07:57] eslavnov commented on #87
No, there are no unit tests. You can see examples of the responses in the wiki.

Looking at your issues in other repos, I'd go on a limb and assume that you want to build some kind of a universal remote app in Java, right? I'd recommend thinking about integrating existing projects as opposed to re-implementing them in Java - otherwise it will be a nightmare to maintain, especially if you don't hav

[2021-01-05 07:57] #87 closed

[2021-01-06 23:00] ZoltXs opened #88 "Help me"
Hi, I need someone to help me with the settings. I have run this command to the terminal and correct, and I would like to know if the settings for the settings.ini file is filled with the correct data

[DEFAULT]
verbose = True
MQTT_listen = False
MQTT_update = False
num_retries = 3
update_interval = 3
[TV]
host = 192.168.0.27
port = 1926
apiv =  6
user = pczyoRn3qriN9jsq
pass = f20d23004e7e72a2f59

[2021-01-06 23:02] ZoltXs commented on #88
What do I do wrong?

[2021-01-07 07:05] eslavnov commented on #88
You are trying to run "philips_android_tv-master/philips.py", which is a separate project that is not related to Pylips in any way. Check your paths and make sure you are actually calling Pylips.

[2021-01-07 07:05] #88 closed

[2021-01-07 20:04] buschtoens opened #89 "[API DOCS] Ambilight: `/cached`, `/lounge` & `isExpert`"
Semi-related to #70.

Thanks a lot for this excellent project and the reverse-engineered docs. I wouldn't have looked deeper into all of this, if it wasn't for your fundamental work!

I noticed that the docs around `/cached` & `/lounge`, as well as the `isExpert` option on `/currentconfiguration` are very thin. I got nerd-sniped and dicked around with the [Philips TV Remote app](https://www.philip

[2021-01-08 08:15] eslavnov commented on #89
Hi @buschtoens!

Thank you for your input! I've been thinking about moving the docs to the repo and this is a nice extra motivation for me to do this! I'll handle it over the weekend and then you can create a PR with your updates (which would be extremely welcomed!).

[2021-01-08 08:20] buschtoens commented on #89
Fantastic! Let me know, once you're ready and I'll get to it. 😊

[2021-01-08 16:17] losdrugi opened #90 "[BUG] Cannot control Ambilight on 55oled855/12"
Hello,

Many, many thanks for your excellent work and all the effort you took on reverse engineering!

I just tried to run Ambilight commands from the script. On and Off commands work perfectly, but I cannot control color parameters, although the API returns OK status:

Here are some example calls, with no effect on TV:

$python3 pylips.py --command ambilight_color --body '{"hue": 200, "saturation

[2021-01-14 12:33] Ganime422 opened #91 "[BUG] I get wrong response for api discovery"
**Describe the bug**
Hi thanks for this lib! Wen I'm trying to find the api version, the lib sends request to: `http://192.168.43.178:1925/1/system`
and I get this response:
[code]
and then I get an exception when the lib tries to get the api version from the response in here:
https://github.com/eslavnov/pylips/blob/master/pylips.py#L152

Is there a way to support my model as well or it's not poss

[2021-01-15 11:28] eslavnov commented on #91
Hi @Ganime422,

As far as I can tell, this a 2012 model, so it's not really supported. You can try to set the host (TV's ip address), port (1925), protocol (http) and apiv (1) in the settings.ini and some of the commands might still work for you, but no promises. Please share here how it works for you!

I will also fix the exception in the next version.

[2021-01-15 12:54] eslavnov commented on #90
Hi @losdrugi,

The TV sends the correct response, so I am afraid it's indeed some kind of an API change or something else on the TV's side. Have you tried using the official Philips TV remote mobile app? If it also does not work, then unfortunately there is nothing I can do. If it works, we can investigate it together and add a proper support for your particular model.

[2021-01-16 21:48] begner commented on #71
"unable to make it work" - same here.
Also decompiled the settings app and digged depper into this functionality...
Its the action "org.droidtv.settings.GREEN_MUTE" (ScreenOffService) - but i cant manage to start ist from adb-shell as well

It should be possible - but i didnt find the trick :D

[2021-01-17 10:11] eslavnov commented on #86
Hi @heikok88!

Sorry for the late reply. I've tried to reproduce the issue, but on my TV it works as expected. I've also checked the code but I don't see any problems there that could lead to such behaviour.

Could you please try opening YouTube on your TV and check two things **while it runs**:
1) What does the MQTT status message display?
2) Please run Pylips with `--command current_app` and sha

[2021-01-17 10:36] eslavnov commented on #89
Hi @buschtoens, my apologies for the delay,  but I've finally moved the docs into the repo so feel free to send a PR with your contributions! Thanks in advance!

[2021-01-17 10:36] #89 closed

[2021-01-17 10:37] #91 closed

[2021-01-17 12:02] heikok88 commented on #86
Hello @eslavnov,

I'm running Pylips in a docker container:
`FROM python:3-alpine

RUN apk add --no-cache build-base git && \
    git clone -b v1.3.0 https://github.com/eslavnov/pylips.git && \
    pip3 install -r /pylips/requirements.txt && \
    apk del --no-cache build-base git && \
    rm -rf /var/cache/apk/*

VOLUME /config

ENTRYPOINT ["python", "/pylips/pylips.py"]
CMD ["--config", "/config

[2021-01-17 21:39] begner commented on #71
ok - finally understand the settings apk from philips...

So - in one call you can execute screen mute with:
`adb shell "am start -n org.droidtv.settings/.setupmenu.SetupMenuActivity --es LAUNCH screen_off && input keyevent 23"`

note: "screen_off" is the name of the CONTEXT in the node we get from "menuitems/settings/current"

so - for example, if you want to open the "audio output format" settin

[2021-01-18 17:19] eslavnov commented on #71
Hi @begner, thanks for sharing, this is great news! Based on your adb commands here is how to do it with Pylips:
[code]

[2021-01-18 17:19] #71 closed

[2021-01-18 17:20] eslavnov commented on #67
See the solution here: https://github.com/eslavnov/pylips/issues/71

[2021-01-18 17:30] eslavnov commented on #86
Thanks for the info! For some reason, your TV indeed does not return the current app, as you can see in the `current_app` response... Unfortunately, it's either a changed or a broken API in the TV, so nothing I can do. I suggest looking into using adb as an alternative or wait for a TV update that might fix this endpoint.

[2021-01-18 19:17] #86 closed

[2021-01-24 18:44] Julien-Decoen opened #96 "[FEAT] Controlling headphone volume"
Thanks a lot for your job ! You make my tv smartest than ever !

**Describe the solution you'd like**
To be able to control "headphones_volume".

This is a setting in my quick settings menu and i'd like to control it via **pylips** in order to link headphone volume to master volume.

I've got this setting on my 50PUS7354

[2021-01-26 15:30] gprsnlty opened #97 "[Question] Blinking Ambilgiht"
This is probably not script related im just curios if anyone else has this problem or ideas why this happens.

Whenever I set the Ambilight color via the api it stays on for about 30sec, turns off and turns back on.
This repeats until I turn the Ambilight off.
I don't have any issues when using Ambilight via the Remote its just when I use the Api.

These commands for me all rusult in the same blin

[2021-01-27 12:20] lou-juicy commented on #96
I tried to make a post request :
`python3 pylips.py --command post --path 'menuitems/settings/update' --body '{"values":[{"value":{"Nodeid":2131230913,"Controllable":"true","Available":"true","string_id":"Volume casque","data":{"value":15}}}]}'`

It works but return a bad request...

[2021-01-29 10:56] DavidSchmidt00 opened #98 "[BUG] "TypeError: option values must be strings" when writing apiversion to config"
**Describe the bug**

When trying to setup pylips with an old PhilipsTV (model 42PFL6097K/12 using apiversion 1) it throws a TypeError, because in line 156 it tries to write an integer to the config.

**Console output**

[code]

**How to fix**
Change line 156 to:
`self.config["TV"]["apiv"] = str(api_version)`

[2021-01-30 10:57] eslavnov commented on #97
Hi @gprsnlty!

Wow, I've never seen anything like this before. How does Ambilight behave when using the official Philips mobile remote app?

Also, try turning MQTT listen off (if it's on) - it's highly unlikely that it's the issue, but good to check anyways.

Finally, are you absolutely sure you are not running any other tools that talk to the TV (or multiple instances of Pylips) in parallel?

[2021-01-30 11:03] #98 closed

[2021-01-30 11:05] eslavnov commented on #98
Thanks @DavidSchmidt00!

Wow, this is embarrassing - I guess I've been spending too much time with JS lately... Fixed now, sorry about that!

[2021-01-30 11:06] DavidSchmidt00 commented on #98
Thanks :)

[2021-01-31 10:18] eslavnov commented on #96
Hi @lou-juicy,

I've spent a couple of hours looking into this and unfortunately, I don't have any good news:
1. POST request returns "OK" for me, but does not change the volume (I also have a different "nodeid" for the headphones volume, but this is somewhat expected).
2. Looking at the API source code I see some mentions of various audio input sources, but it's not really clear to me what's the

[2021-01-31 18:52] lou-juicy commented on #96
Hi @eslavnov,

Thanks a lot for your investigation on that feature and for your complete answer.

I just tried to learn more about the way to query Philips' API but I'm a bit lost. For now, i'm using the query above to make it works.

But i'v got other issue with the command **current_app** that return `{"component":{"packageName":"NA","className":"NA"}}`... Have you got some ressources about the

[2021-02-02 17:42] gprsnlty commented on #97
Hi thank you for your response!

It behaves the same when i use the app. So this seams to be an issue with the TV itself right?

I manually did the curl so your script defiantly does not interfere with MQTT listen or a secondary running instance.
I asked here just because I hoped the issue is known.

Do you have any clue like is this a Software issue? could external hdmi devices have any affect on

[2021-02-02 17:42] #97 closed

[2021-02-05 10:11] elupus opened #100 "[FEAT] Docs on pairing protocol"
**Is your feature request related to a problem? Please describe.**
Having an unofficial doc on the pairing protocol would be nice

**Describe the solution you'd like**
A description of the known things about the pairing protocol

**Additional context**
I'm especially lacking:
* How is the signature sent in the pair/grant even used by the TV. The tv doesn't know the secret (unless it happens to be

[2021-02-05 10:12] elupus commented on #100
Context for this is that i'm working on updating the home assistant plugin. And especially would be really nice to get the serial number to be used as a unique ID.

[2021-02-05 15:08] eslavnov commented on #100
Hi @elupus,

As mentioned in the README, the pairing mechanism was taken from this repo: https://github.com/suborb/philips_android_tv. Perhaps its maintainer could provide some answers. I'll try to give you some context to the best of my understanding, but please take it with a grain of salt: I have not really researched it that deeply.

Check `pair` and `pair_request` in Pylips (lines 90 and 121)

[2021-02-05 22:33] elupus commented on #100
Okey.. soo. not sure how, but https://github.com/suborb/philips_android_tv/blob/master/philips.py#L14 this is actuall a valid key. It can be used to decode the encrypted fields with AES/CBC/PKCS7Padding.

Saved me the trouble of figuring getting it out the android app.

[2021-02-06 13:51] zozzi opened #101 "[FEAT] control volume via HDMI / CEC"
Hello Gene,
Thanks for a huge effort and great piece of code.
Just one question regarding controlling the volume over HDMI through CEC. I have an optical audio out to receiver + audio return channel switch on @HDMI1.
It would be great to be able to control the volume this way.
Is this somehow possible?
PZ

[2021-02-09 19:11] elupus commented on #101
huh why do you have both ARC and optical? That is pretty redundant. So this is really up to the tv implementation. This system can ask the TV to change the volume. It may forward that request over CEC to the receiver when using HDMI ARC (optical is unlikely i think). My 2020 TV does forward, while ny 2010: ish did not.

However my 2020 it utterly looses track of current volume. Seem to only be sen

[2021-02-09 21:51] elupus opened #103 "[FEAT] Some new found endpoints to document"
**Is your feature request related to a problem? Please describe.**
I found some new endpoints that might be worth documenting. No idea what they are, but wanted to write them down:

/6/context
[code]

/6/channeldb/servermapping/X
[code]

channeldb/tv/channelLists/{channel_list}/{ccid}/logo
[code]

[2021-02-10 07:48] zozzi commented on #101
Well, I have a satellite settopbox connected via HDMI1. So ARC won't work this way as receiver is 3rd device.
I have optical out from TV to receiver because of Netflix, Plex and other apps.
But this is quite ok.
Problem is that with TV remote I can fully manage settopbox but sound.
Sound buttons are always tied to TV - no matter of sound output settings :(
My idea was to allow volume settings by v

[2021-02-14 10:58] eslavnov commented on #101
Hi @zozzi,

As @elupus mentioned, this likely depends on the TV itself. I don't remember seeing any specific methods in the API to control CEC or optical volume.

Two things you can try:
1) Connecting a raspberry pi to your TV or receiver will allow to use it to send CEC commands. Depending on your particular setup, this might help you.
2) Rethink your connection scheme. I have multiple devices, i

[2021-02-14 11:00] #100 closed

[2021-02-14 11:03] eslavnov commented on #96
The `current_app` endpoint seems to be broken for some people, see https://github.com/eslavnov/pylips/issues/86

[2021-02-14 11:04] eslavnov commented on #90
Closing since I can't reproduce this and I don't have enough info to investigate.

[2021-02-14 11:04] #90 closed

[2021-02-16 14:29] Qbunjo opened #104 "65pus6703/12 cannot pair[BUG]"
When trying to pair TV with pylips I get

IP 192.168.X.X is online, but no known API is found. Exiting...
My TV is 65PUS6703/12 from 2018. It's SAPHI tv. It looks that pylips can't get any reasonable answer from tv.

[2021-02-16 17:12] eslavnov commented on #104
Hi @Qbunjo,

Please run Pylips with `--verbose True` and share the full output (not just the last line).

[2021-02-17 11:12] Qbunjo commented on #104
Ok, today the tv responses, but I think something is wrong anyway...

Checking API version and port...
Trying http://192.168.0.X:1925/6/system
Connected to MQTT broker at 192.168.0.YY
Started MQTT status updater
Sending GET request to http://192.168.0.X:1925/6/powerstate
Request sent!
Sending GET request to http://192.168.0.X:1925/6/audio/volume
Request sent!
Sending GET request to http://192.168.

[2021-02-17 11:44] eslavnov commented on #104
The loop is the result of you using `MQTT_update = True` in your settings and is the expected behavior. I suggest disabling MQTT altogether and firing some manual commands (like `--command standby`). Once you figure them out, then you can introduce some extra complexity by adding MQTT to the mix.

I'm closing this one since it seems you were able to pair. Feel free to open a separate issue if you

[2021-02-17 11:44] #104 closed, assigned to eslavnov

[2021-02-21 11:07] elupus commented on #71
There is also a screenstate endpoint.

[2021-02-25 09:19] begner commented on #71
can you give an example how to use it?

[2021-03-26 17:29] beam commented on #86
FYI same issue on 50PUS8505/12 :(

[2021-03-29 23:04] ondrejbima commented on #86
Try call --command get --path system before get current_app, on my TV i have to call /6/system before /activities/current start working

[2021-04-07 00:09] B3rt opened #106 "[BUG] IP blocked by TV"
My IP of my server where the API is running on seems to be blocked by the TV (after a restart of my server).
I can connect to the TV using telnet and port but the TV does not respond.

When i try from an other system in the same network the API of the TV works fine, but when run from my server (NAS) it keeps reporting cannot reach API.  It can connect to IP and port but the TV part API simply does

[2021-04-07 13:48] heikok88 commented on #86
Hello @beam,
that works for me as well, thank you!

[2021-04-07 19:08] lucasvdh commented on #52
FYI

@eslavnov none of the solutions mentioned above worked for me but I have found that does work (for models running Android).

The solution was installing the [Wakelock Revamp](https://play.google.com/store/apps/details?id=eu.thedarken.wldonate) app and enabling the "Processor" option. It's not available as an Android TV app so you'd need to install the mobile version from USB or via adb.

Once

[2021-05-09 14:41] Jonoox opened #107 "2020 Android TV Ambilight "lounge lights" doesn't respond[BUG]"
2020 TV 50PUS8535/12 (TPM191E platform as in 2019)
When i set eg. Hot Lava from Philips Remote control app in current configuration I get:
{"styleName":"Lounge light","isExpert":false,"menuSetting":"HOT_LAVA","stringValue":"Hot Lava"}
In JSON there is:
[code]

I changed the body to match style name:
[code]
But it still doesn't respond. I can get Lounge Lights when I send 'ambilight_onoff' command

[2021-06-02 07:44] tygerlord opened #108 "'PowerON' failure"
Hello,

I have Philips 58PUS7505/12 (buy in 2020)  but I can't run the 'PowerOn' command.

I can have the 'powerstate' and others command seems working (not all tested).

'PowerOff' is OK.

With Android application 'Philips TV remote', I can switch on/off. Amazing, on 'PowerOn' application show
a message to inform you that it can take a long time to power on (up to 1 min). I'm asking myself why ..

[2021-06-02 08:20] tygerlord commented on #108
Wait a minut,
I will try [WOL](https://github.com/eslavnov/pylips/issues/73)  as soon as possible

in fact, this will not help, I'm in wifi and 'Philips TV remote' successfully 'PowerOn' so there are another way

[2021-06-02 13:05] tygerlord commented on #108
Ok got it,

This work with WOL with a little tip, it use port 1925 at least for WIFI connected set (the set must not be in deep sleep mode too)

For Home assistant for exemple, I use a script :

    start_tv:
      sequence:
        - service: wake_on_lan.send_magic_packet
          data:
            mac: "XX:XX:XX:XX:XX:XX"
            broadcast_address: 192.168.X.X
            broadcast_port: 19

[2021-06-02 13:05] #108 closed, assigned to eslavnov

[2021-06-04 14:04] temaoz opened #109 "[BUG] set_channel command not working"
**Describe the bug**
How to use the set_channel command? I've seen the documention of the [REST API method](https://github.com/eslavnov/pylips/blob/18aa80f171e2087a5e514d9272b8aefa2ec1737d/docs/Chapters/Activities-TV-(GET).md) but can't get it to work.

**To Reproduce**
Steps to reproduce the behavior:
Using command
`python3 /home/pi/pylips/pylips.py --command set_channel --body {"channel":{"ccid"

[2021-06-04 15:02] #109 closed, assigned to eslavnov

[2021-06-09 21:46] B3rt commented on #106
stil having issues:

here a fail paring output:

Checking API version and port...
Trying http://192.168.1.140:1925/6/system
No valid credentials found, starting pairing process...
Sending pairing request
https://192.168.1.140:1926/6/pair/request
Traceback (most recent call last):
  File "/volume1/@appstore/python3/lib/python3.7/site-packages/urllib3/connectionpool.py", line 382, in _make_request

[2021-06-28 20:53] bgoncal opened #110 "[FEAT] Switch Picture style"
My use case is: I want to only use my Apple TV remote, but during the day I still need my Philips tv remote to switch picture style (because during the day it needs to be brighter and during the night it doesn't)

[2021-08-05 15:22] aegjoyce commented on #107
Hi all - I have fixed this issue and included it in my reworked version of jomwells' ambilight component. Have a look at light.py in my repository: https://github.com/aegjoyce/ambilights/

Scraped these commands from the official Philips Remote app. You'll see that the endpoint it targets for changing mode is now `menuitems/settings/update` rather than what you have been targeting

Let me know if

[2021-08-15 09:08] Jonoox commented on #107
@aegjoyce thank you, your version works great with my TV.

[2021-08-18 18:25] popy2k14 commented on #52
@lucasvdh
Thanks for this nice workaround.
A while ago i had Alexa activated, which also deactivated the deep sleep of the TV sets (as mentioned).
Sadly, back then, i had an issue that after some days my Denon AVR sound drops out frequently.
A reboot solved issue always. Because of that issue, i deactivated Alexa -> activate deep sleep, which also do some "reboot" in the night. This solved the sou

[2021-11-13 18:04] FireHelmet opened #112 "[BUG] Pairing process fail on android TV 8 (55OLED803)"
**Describe the bug**
Pairing process fail, authentication required with a code sent by TV. (Model Philips 55OLED803 on android TV 8)

**To Reproduce**
Steps to reproduce the behavior:
1. fill setting.ini with IP of TV
2. Execute python3 pylips.py

**Expected behavior**
A successful handshake and connection

**Screenshots**
[https://imgur.com/a/zFLHYhR](url)

**Additional context**
I tried with por

[2021-12-29 17:02] snoms opened #113 "[FEAT] Using pylips as a python module? (+ Ambilight colour control)"
Hi, thanks for the great work on this project. I am messing around with a more user friendly way to control the Ambilight (65OLED806) for custom colours. Basically I have a small webpage with a colour wheel that allows you to send the appropriate command. However, I'm currently calling a Python subprocess to execute it, which is not very efficient, especially if I want to send a bunch of commands

[2022-01-02 05:02] Mondemen opened #114 "Ambilight + Hue configuration endpoint"
Hello,
This project is a very good initiative to control your ambilight TV yourself.  Everything has there, even the least useful endpoint, but I do not see anything for the ambilight + hue part for the configuration (assign lights to the screen for example), there is only the on / off.  Since the Philips remote control app allows it, the endpoint must necessarily exist, has it been found and just

[2022-03-25 13:25] RensMvP commented on #100
@elupus did you figure out pairing protocol? I am trying to convert the pylips to a esp32 project, but i get a read timeout on the pair request.

[2022-03-25 14:33] elupus commented on #100
Yes, it's here: https://github.com/danielperna84/ha-philipsjs/blob/16e363cde45b9f0c38fbd501560864c620606696/haphilipsjs/__init__.py#L607

[2022-03-25 15:46] RensMvP commented on #100
Well seems like i send exactly that Json to the tv api (v6.4.0) but i get a read timeout back.
`
{
  "scope": [
    "read",
    "write",
    "control"
  ],
  "device": {
    "device_name": "heliotrope",
    "device_os": "Android",
    "app_name": "ESP32api",
    "type": "native",
    "app_id": "app.id",
    "id": "HWvAq8UdGxbGbsH7"
  }
}
`
I also posted this isue on the esp32 forum with my code, b

[2022-03-25 16:02] elupus commented on #100
You are doing a post request not a get?

[2022-03-25 16:07] RensMvP commented on #100
Yes i'm using the post function. That is part of the httpclient library for the esp32.
This Post command works for turning the ambilight on or off

[2022-03-25 16:14] elupus commented on #100
You seem to try to auto detect api version. The tv will always respond to V1 system requests so maybe you are not trying on V6/v5 api as needed?

[2022-03-25 17:07] RensMvP commented on #100
Yeah indeed, the autodetect will look for the http OK code and save the first api version that responds.
This autodetects works on the http protocol 1925 and until now it always said v6. In the browsers is the same result when entering 'http://iptv:1925/api version/system', only api version 6 returns the json stream

[2022-03-25 17:09] RensMvP commented on #100
I thought that v1 systems did not respond to https request, but i might be wrong

[2022-03-25 17:27] elupus commented on #100
V6 systems respond to both https and http. They also respond to V1 requests for system info on both http and https.

[2022-03-25 17:37] RensMvP commented on #100
Strange that i did not get any response on the get systeem info on api v1, when entering this in the browser. Not sure why, but only v6 response to the get systeem info.

But how would this relate to the read timeout on the post request to pair with the tv

[2022-03-25 17:50] elupus commented on #100
The tvs are buggy, if you do a pair request against /1/ endpoints i don't know what it will do.

[2022-03-25 18:36] RensMvP commented on #100
Yeah you can say that haha. 3 different TV's and the one running api 6.4 responded the best to the http ambilight on/off.
But you advise to test sending the pair requests to api 1 (aka https://tvip:1926/1/pair/request)

[2022-03-25 19:12] elupus commented on #100
I advise you send to the 6 endpoint. The code you linked for esp32 would  end up wrongly sending to the v1 endpoint, if i reas the code correctly.

[2022-03-25 19:22] RensMvP commented on #100
Hmm not sure if I understand you correctly and the code i linked send the pair request tot endpoint 6 since that is the only one that repsonds with the http OK code.
But when I send the pair requests it just times out every time I send it

[2022-03-25 19:28] elupus commented on #100
As I said, a tv with V6 support will most often ALSO respond with OK on V1 endpoint. Since you check V1 endpoint first, in the for loop, it will break out early in the loop. You want to change the loop iteration to be reversed apiVersion = {6, 5, 1} so you get the highest available version.

Or select API version based on the data on the system response.

[2022-03-25 19:39] RensMvP commented on #100
Ah oke, I will try that then again.

[2022-03-25 21:48] RensMvP commented on #100
Oh almost forgot, i did try without autodetect the api version. By hardcoding the post request to eindpoint 6, but didn't seem different on the 2019 model

[2022-03-28 07:04] RensMvP commented on #100
Seems i found the issue, the api autodetect was not the problem. It was with the httpclient library, that needed to have the WifiClientSecure and set that to insecure to be able to connect. Now i get the pairing code.
Thanks for your help in clearing some things up with the pairing proces @elupus .

[2022-03-28 11:28] RensMvP commented on #100
I am curious do i get the password and timestamp back from the tv? The arduino library i am using, seems to respond only with the http code OK, but i the pylips code looks like it is reading from the response. Is it true that the TV sends back info for the pairing, when sending the pair/request?

[2022-03-28 13:45] elupus commented on #100
Yes you get that from the pair request. This you use to calculate the signature that should be sent on the grant endpoint.

[2022-04-03 15:00] skinkie opened #115 "[FEAT] Open Browser at URL"
**Is your feature request related to a problem? Please describe.**
As user I would like to sent a user that the TV should open.

**Describe the solution you'd like**
A command to open the build in browser, analogue to launching an app.  (Working on a Non-Android / Saphi)

[2022-04-13 18:59] michaldz commented on #114
@Mondemen Any progress here? I am wondering if is possible to add more than 3 hue lights to top of screen using ambilight+hue? Tv allows to add only 3 through menu - but using rest api...

[2022-05-08 21:49] TRaider63 opened #116 "Ambiligt missing modes"
Hello i have a Philips PUS7805 Smart TV (non android it is Saphire) I dont have some ambilight modes (some audio modes like scanner etc) Can i put these mods to my tv? I didnt understand these codes can you help me?

[2022-05-28 06:26] sammyke007 commented on #110
+1 please!

[2022-06-05 20:29] idantene commented on #103
@elupus How did you find these? I'm trying to dig and see if there's an endpoint (or via Android) to get the current HDMI input. Are you aware of any such functionality?

[2022-06-05 21:32] elupus commented on #103
You can extract the xtv.apk package from an android tv and dissassemble it. You get most sourcecode back.

There is no endpoint for hdmi source sadly. Should be possible to get if one writes their own android app thou.

You can trigger a switch to hdmi source using an intent.

[2022-06-06 09:09] eslavnov commented on #103
@idantene, I agree with @elupus: there are no HDMI source endpoints and writing your own Android app is probably the best way to get this info reliably.

Alternatively, you can write a simple script to query the system logs via adb:
`adb shell dumpsys activity starter | grep -o "HW[0-9]" | head -n 1` - this will return something like "HW1" or "HW9" depending on which HDMI source is active. The onl

[2022-06-06 09:16] eslavnov commented on #116
No, I am afraid there is no way to extend the Ambilight modes - you get whatever your TV provides.

[2022-06-06 09:16] #116 closed, assigned to nobody

[2022-06-06 09:44] idantene commented on #103
Thanks @elupus and @eslavnov!

The `adb` solution was what I had so far - it is unfortunately also unreliable if you change the HDMI source via other interactions (that is, the `HW[0-9]` works fine if the input is changed via the remote, but does not if it is changed via HA's `media_player` component).

But alas - if it is not available by default, I will make my own workarounds within HA 👍🏻 Thank

[2022-06-06 15:50] IP-Developer commented on #113
+1 for this. Would love to be able to use it in my app

[2022-06-26 17:31] doudigit opened #117 "[BUG] 2020/2021 support hack?"
Due to Philips dropping support for JoinSpace api the newer tvs cant use this, but from the research I’ve made it seems the whole api is located in xtv.apk.
Could someone who has a working joint space Philips android tv upload and share their xtv.apk that’s pulled through adb shell. I’d be willing to test it out on my two 2020 and 2021 Philips tvs

[2022-06-29 13:57] #117 closed, assigned to eslavnov

[2022-07-06 18:09] Misterke commented on #103
Has anyone meanwhile found a way to know what source the TV would be on?  Seems pretty ridiculous that this basic functionality is hidden so far away.

[2022-10-05 20:39] DavideVito opened #118 "[BUG] Port 1926 not opened 43PUS7956"
I cannot pair the script to my device because the port 1926 and 1925 are closed

[code]

I run this script `python3 pylips.py` but I get an error message: `philips.py: error: the following arguments are required: command`

I can confirm that the Chromecast ports are open and I can send commands.

How can I open those port?

Thank you.